{% extends "layout_simple.html" %}
{% load i18n %}
{% block html_head %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/webmail/folders.css" />
<script src="{{ MEDIA_URL }}js/form.js" type="text/javascript"></script>
<script type="text/javascript">
  window.addEvent("domready", function() {
    $$("li[class*=clickable]").removeEvents();
    $$("li[class*=clickable]").addEvent("click", function(evt) {
      $$("ul[name=" + evt.target.get("name") + "]").each(function(item) {
        if (item.hasClass("hidden")) {
          evt.target.setStyle("background", 
			      "url('{{ MEDIA_URL }}pics/folder-open.png') no-repeat");
          item.removeClass("hidden").addClass("visible");
          item.setStyle("background-color", evt.target.getStyle("background-color"));
        } else {
          evt.target.setStyle("background", 
			      "url('{{ MEDIA_URL }}pics/subfolders.png') no-repeat");
          item.removeClass("visible").addClass("hidden");
        }
      });
      evt.stop();
    });
    $$("a[name=loadfolder]").addEvent("click", function(evt) {
      evt.stop();
      $$("a[name=loadfolder]").each(function(item) {
        item.getParent().removeClass("selected");
      });
      this.getParent().addClass("selected");
    });
    register_extra_data_callback("newfolder", function() {
      var result = "";
      $$("li[class*=selected]").each(function(item) {
        var atag = item.getFirst("a");
        result = atag.get("href");
      });
      return "parent_folder=" + result;
    });
  });
</script>
{% endblock %}
{% block content %}
<div class="title"><h1>{{ title }}</h1></div>
<form action="" method="POST" id="{{ fname }}" name="{{ fname }}">
  {% include "common/genericform.html" %}
  <div class="row">
    <label>{% trans "Parent folder" %}</label>
  </div>
  <div id="folders2" class="box">
    {% include "webmail/folders.html" %}
  </div>
  <div id="fdcreate">
    <input type="submit" name="submit" value='{{ submit_label }}'/>
  </div>
</form>
{% endblock %}
