{% load i18n libextras %}
{% render_field form.bypass_virus_checks %}
{% render_field form.bypass_spam_checks %}
<div class="control-group"> 
  <label class="control-label">{% trans "Thresholds" %}</label>
  <div class="controls spaced">
    {{ form.spam_tag2_level }} <span class="help-inline">{% trans "or more is spam" %}</span><br>
    {{ form.spam_kill_level }} <span class="help-inline">{% trans "or more throw spam message away" %}</span>
  </div>
</div>
{% render_field_with_activator form.spam_subject_tag2 _("default") %}
{% render_field form.bypass_banned_checks %}
