{% extends "fixed.html" %}{% load i18n %}
{% block pagetitle %}{% trans "Quarantine management" %}{% endblock %}
{% block html_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}amavis/css/quarantine.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.htmltable.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/history.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/searchbar.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}amavis/js/quarantine.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var qm = new Quarantine({
        deflocation: "{{ deflocation }}",
        defcallback: "{{ defcallback }}"
    });
});
</script>
{% endblock %}
{% block fixed_content %}
<div id="menubar"></div>
<div id="listing"></div>
{% endblock %}
