{% extends "common/buttons_list.html" %}{% load i18n %}
{% block extracontent %}{% include "common/email_searchbar.html" with extraopts=extraopts %}
</div>
<div id="filters_bar" class="btn-toolbar pull-right">
  <div id="filters" class="btn-group" data-toggle="buttons-radio">
    <button name="msgtype_all" class="btn btn">{% trans "All" %}</button>
    <button name="msgtype_S" class="btn btn btn-danger">S</button>
    <button name="msgtype_V" class="btn btn btn-danger">V</button>
    <button name="msgtype_H" class="btn btn btn-warning">H</button>
    <button name="msgtype_M" class="btn btn btn-warning">M</button>
    <button name="msgtype_B" class="btn btn btn-warning">B</button>
  </div>
{% endblock %}
