<!DOCTYPE html>{% load i18n lib_tags amavis_tags %}{% load url from future %}
{% load static %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <title>Modoboa</title>
    <link rel="icon" type="image/png" href="{% static 'css/logo-icon.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'amavis/css/selfservice.css' %}" />
    <script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/global.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/notify.js' %}" type="text/javascript"></script>
    <script src="{% static 'amavis/js/selfservice.js' %}" type="text/javascript"></script>
    {% url "django.views.i18n.javascript_catalog" as catalog_url %}
    <script type="text/javascript" src="{{ catalog_url }}"></script>
    <script type="text/javascript">
        set_media_url("{{ STATIC_URL }}");
    </script>
  </head>
  <body>
    <div id="fixed_content">
      <div id="menubar">{% viewm_menu_simple user mail_id rcpt secret_id %}</div>
      <div id="listing">{{ content }}</div>
    </div>
  </body>
</html>
