    /* MEDIA */
@media (max-width: 400px) {
    td#subject,
    td[name='subject']
    {
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media (max-width: 500px) {
    th#date,
    td[name="date"],
    #menubar .Actions{
        display: none;
    }
}

@media (max-width: 770px) {
    #searchbox{
        margin-left: 20px;
    }
}

@media (max-width: 1198px) {
    .container-fluid{
        padding:0;
    }
    th#date,
    td[name="date"]{
        max-width: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    th#withatts,
    td[name="withatts"],
    th#drag,
    td[name="drag"]{
        display: none;
    }
    #leftcol.leftcol-display-none{
        display: none;
    }
    .display-up-1198-webmail{
        display: none;
    }
    .display-less-1198{
        display: inherit;
    }

}

    /* GENERAL */
body, html {
    overflow: hidden;
    height: 100%;
}

#folders {
    position: fixed;
    top: 60px;
    left: 15px;
    width: 200px;
    overflow-y: auto;
    margin-bottom: 5px;
}

#folders .ui-resizable-handle {
    background-position: center center;
    background-repeat: no-repeat;
}

#folders .ui-resizable-n {
    top: 0px;
}

#folders .ui-resizable-s {
    bottom: 0px;
}

#folders .ui-resizable-e {
    right: 0px;
    background-image: url("../../pics/grippy.png");
    width: 8px;
}

#folders .ui-resizable-w {
    left: 0px;
    background-image: url("../../pics/grippy.png");
    width: 8px;
}

#mboxes_container {
    overflow: auto;
}

#mboxes_container a[name=loadfolder] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

#mailcontent {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.unseen {
    font-weight: bold;
}

td[name="date"] {
    text-align: right;
}

#quotabar {
    margin: 15px 0 0 15px;
    width: 200px;
}

#quotaraw {
    margin-left: 10px;
}


/*
 *TOP NAVBAR
 */

.navbar-header{
    display: inline-block;
}

/*
 *listing
 */
#listing{
    overflow: auto;
}
#listing.listing-up-1198{
    padding-left: 15px;
}
#listing.listing-less-1198{
    bottom: 0px;
    left: 0px;
    padding-left: 0px;
    right: 0;
    top: 0px;
    overflow-y: hidden;
}

#listing .test{
    overflow-y: scroll;
    position: absolute;
    left: 0;
    right: 0;
    top: 41px;
    bottom: 41px;
}

/*
 * Mailboxes list
 */
#mboxactions {
    position: fixed;
    padding-left: 14px;
}

#mboxactions .btn-toolbar {
    margin-bottom: 0px;
}

div.clickbox {
    position: absolute;
    left: 0px;
    top: 2px;
    width: 14px;
    height: 14px;
}

div.collapsed {
    background-image: url("../../pics/collapsed.png");
    background-repeat: no-repeat;
}

div.expanded {
    background-image: url("../../pics/expanded.png");
    background-repeat: no-repeat;
}

div#leftcol #mboxes_container .nav .droppable div.clickbox{
    z-index:800;
}

li.droppable li{
    margin-left: 10px;
}

/*
 * Compose form
 */
#mailheader {
    position: relative;
    padding-bottom: 5px;
}

#mailheader input {
    width: 99%;
    padding: 2px 0;
}

#mailheader textarea {
    width: 99%;
    height: 40px;
    padding: 2px 0;
}

#mailheader label {
    text-align: left;
}

#mailheader .options {
    margin-bottom: 8px;
}

#add_cc {
    margin-right: 20px;
}

#attachments {
    position: relative;
    margin: 1px 0 5px 0;
    padding: 5px 0;
    cursor: pointer;
    width: 100%;
}

#attachments img {
    float: left;
}

#list {
    position: absolute;
    top: 5px;
    left: 180px;
    font-weight: bold;
}

#body_container {
    position: static;
}

#id_body {
    width: 100%;
    height: 100%;
}

/*
 * Attachments form
 */
#submit {
    margin: 0 auto;
}

#attachment_list {
    margin-top: 20px;
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2px;
}

#attachment_list i,
#attachment_list label {
    float: left;
}

.shortlist {
    font-weight: normal !important;
    font-style: italic;
}

/*
 * Drap & Drop
 */
.dragbox {
    padding : 5px;
    text-align : center;
    background : white;
    z-index : 3;
}

/*
 * Folder form
 */
.modal-body {
    max-height: 300px;
    overflow-y: auto;
}

#folders2 li {
    position: relative;
}

/*
 * Table
 */
td > input[type=checkbox] {
    margin: 0;
}

td[class*=openable] {
    cursor: pointer;
}

/*
 *Action buttons
 */

#menubar .btn-toolbar{
    margin-left: 1px;
    margin-right: 1px;
}

#menubar .btn-toolbar ul.navbar-right{
    margin-right: 3%;
}

#menubar .btn-toolbar .navbar-form{
    margin: 0px;
}

#rightcol #menubar #searchbox #searchfield{
    margin-left:5px;
}

/*
 *send mail
 */

#body_container{
    height: 600px;
}
