body {
    font-family: arial, helvetica, verdana, tahoma, sans-serif;
    font-size: small;
    margin: 0 auto;
    padding: 0;
}

div.row {
    clear: both;
    padding-top: 10px;
    padding-left: 20px;
}

div.row label {
    float: left;
    width: 120px;
    font-size: small;
    padding: 3px 0;
}

input {
    border: 1px solid #cccccc;
    color: inherit;
    /*background-color: #e9e9e9;*/
    background-color: #eee;
    padding: 2px;
}

input[type=text] {
    width: 130px
}

input:hover {
    color: inherit;
    background-color: #ffffcc;
}

select {
    width: 135px;
    background-color: #eee;
    border: 1px solid #cccccc;
}

td.odd {
    background: #F7F9Fb;
}

td.even {

}

.title {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.title img {
    float: left;
    margin: 1px 3px;;
}

.title h1 {
    float: left;
    margin: 5px 10px;
    font-size: medium;
    font-weight: bold;
}

.lastrow {
    margin-top: 20px;
}

.errorlist ul {
    float: left;
    list-style: none;
}

.errorlist li { 
    margin-left: 10px;
    float: left;
    display: inline;
    color: red;
}

.error {
    margin-left: 20px;
    color: red;
    font-size: small;
    font-weight: bold;
}

#id_username { 
  width: 120px;
}

#id_password { 
  width: 120px;
}

/* Dialog box */
#dlg-buttons { 
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

#dlg-iconbox { 
    float: left;
    margin-top: 20px;
    width: 32px;
}

#dlg-textbox {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    width: 80%;
}

#dlg-buttons input { 
    width: 90px;
}

/* Mootools tooltips */
.tip {
    color: #fff;
    width: 139px;
    z-index: 13000;
    border: 1px solid #cccccc;
}
 
.tip-title {
    font-weight: bold;
    font-size: 11px;
    margin: 0;
    color: #9FD4FF;
    padding: 8px 8px 4px;
    background: #eee;
}

.tip-text {
    font-size: 11px;
    padding: 4px 8px 8px;
    background: #eee;
    color: black;
}
