html, body {
    font-family: arial, helvetica, verdana, tahoma, sans-serif;
    font-size: small;
    background: #153F65;
    margin: 0;
    padding: 0;
}

#loginbox {
    margin: 100px auto;
    width: 610px;
    padding-bottom: 15px;
    border: 5px solid #333;
    background: white;
}

#loginbox h2 {
    margin: 30px 10px 0 10px;
    font-size: small;
}

#loginbox h3 {
    font-size: small;
    text-align: center;
}

#logo {
    float: left;
    text-align: center;
    width: 300px;
    margin-top: 10px;
    border-right: 1px solid #ccc;
}

#logo img {
    height: 90px;
}

#test {
    float: right;
    width: 300px;
}

.spacer { 
    clear: both;  
}

/* Mootools tooltips */
.tip {
    color: #fff;
    width: 139px;
    z-index: 13000;
    border: 1px solid #cccccc;
}
 
.tip-title {
    font-weight: bold;
    font-size: 11px;
    margin: 0;
    color: #9FD4FF;
    padding: 8px 8px 4px;
    background: #eee;
}

.tip-text {
    font-size: 11px;
    padding: 4px 8px 8px;
    background: #eee;
    color: black;
}
