{% load i18n %}
<div class="modal-header">
  <a class="close" data-dismiss="modal">x</a>
  <h3>{% trans "Change password" %}</h3>
</div>
<div class="modal-body">
  <div class="error">{% if error %}{{ error }}{% endif %}</div>
  <form class="form-horizontal" 
        action="{% url userprefs.views.changepassword %}" 
        method="POST" id="chpwdform" name="chpwdform">
    {% include "common/genericform.html" %}
  </form>
</div>
<div class="modal-footer">
  <a href="#" class="btn btn-primary submit">{% trans "Update" %}</a>
  <a class="btn" data-dismiss="modal">{% trans "Close" %}</a>
</div>
