{% extends "twocols.html" %}{% load i18n uprefs_extras libextras %}
{% block pagetitle %}{% trans "Settings" %}{% endblock %}
{% block html_head %}
<script type="text/javascript">
function forwardform_cb() {
    $(".submit").one('click', function(e) {
        simple_ajax_form_post(e, {
            formid: "forwardform",
            error_cb: forwardform_cb,
            reload_on_success: false
        });
    });
}

$(document).ready(function() {
    $("#update").click(function(evt) {
        evt.preventDefault();
        var $form = $("form");

        $.post($form.attr("action"), $form.serialize(), function(data) {
            if (data.status == "ok") {
                $("body").notify("success", data.message, 2000);
            }
        });
    });
});
</script>
{% endblock %}
{% block leftcol %}<div class="well sidebar-nav">{% uprefs_menu left_selection user %}</div>{% endblock %}
{% block apparea %}
  <form class="form-horizontal" method="POST" 
        action="{% url modoboa.userprefs.views.savepreferences %}" 
        id="uparams_form">
    {% include "common/parameters.html" %}
  </form>
  <hr>
  <a href="#" class="btn btn-primary" id="update" name="update">{% trans 'Save' %}</a>
{% endblock %}
