{% extends "layout_simple.html" %}
{% block html_head %}
<script src="{{ MEDIA_URL }}js/form.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
{% load i18n %}
<div class="title"><h1>{% trans "Define your forward" %}</h1></div>

{% if error %}<div class="error">{{ error }}</div>{% endif %}
{% url userprefs.views.setforward as action_url %}
<form action="{{ action_url }}" method="post" name="setfwform" id="setfwform">
  {% include "common/genericform.html" %}

  <div class="lastrow" align="center">
    <input type="submit" class="button" name="submit" value="{% trans 'Update' %}" />
  </div>
</form>
{% endblock %}
