#menubar { 
    position: fixed;
    top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    left: 0;
    right: 0;
}

#listing { 
    position: fixed;
    padding: 0 15px;
    right: 0;
    left: 0;
}

#mailcontent {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

thead tr {
    position: relative;
    z-index: 1;
}

td.unseen { 
    font-weight: bold;
}

td.pending { 
    font-style: italic;
}