# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{css,js,py}]
charset = utf-8
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[{.travis.yml,codecov.yml}]
indent_style = space
indent_size = 2

# Ignore paths
[/modoboa/bower_components/**]
charset = none
end_of_line = none
insert_final_newline = none
trim_trailing_whitespace = none
indent_style = none
indent_size = none
