.*~$
*.pyc
*.mo
*.db
modoboa.egg-info
doc/.build
doc/.static
doc/.templates
DEV
.idea
.ropeproject
modoboa.iml
.tox
.eggs/
modoboa_test
bin/instance
.coverage
./build/
dist/

# JS stuff
node_modules
/static/dist
/frontend/webpack-stats.json

# TOX stuff
test_project/modoboa.db

/.project
/.pydevproject
