.*~$
*.pyc
*.mo
*.db
modoboa.egg-info
doc/.build
doc/.static
doc/.templates
DEV
.idea
.ropeproject
modoboa.iml
.tox
.eggs/
modoboa_test
bin/instance
.coverage
./build/
dist/
modoboa/frontend_dist
# JS stuff
node_modules
/static/dist
/frontend/webpack-stats.json
/frontend/src/translations.json
/frontend/.__mf__temp/  

# TOX stuff
test_project/modoboa.db

/.project
/.pydevproject

# Misc
.ash_history
modoboa.kdev4
.kateproject
test_project/cert.crt
test_project/cert.key
