.*~$
*.pyc
*.mo
*.db
modoboa.egg-info
DEV
.idea
.ropeproject
modoboa.iml
.tox
.eggs/
modoboa_test
bin/instance
.coverage
./build/
dist/
modoboa/frontend_dist
# JS stuff
node_modules
/static/dist
/frontend/webpack-stats.json
/frontend/src/translations.json
/frontend/.__mf__temp/
doc-ng/.vitepress/cache/
doc-ng/.vitepress/dist/

# TOX stuff
test_project/modoboa.db
test_project/frontend

/.project
/.pydevproject

# Misc
.ash_history
modoboa.kdev4
.kateproject
test_project/cert.crt
test_project/cert.key
test_project/envfile
test_project/media

# Docker
docker/collections
docker/redis
docker/mariadb
