django>=1.10,<=1.10.99
django-ckeditor==5.2.1
django-reversion==1.10.2
django-subcommand2==0.1.1
django-versionfield2>=0.5.0
django-xforwardedfor-middleware

dj-database-url

coreapi==2.3.0
coreapi-cli==1.0.6
djangorestframework==3.6.2

argparse
# bcrypt requires libffi-dev
bcrypt==2.0.0
dnspython==1.15.0
feedparser==5.2.1
gevent==1.2.1
ipaddress
jsonfield==1.0.3
passlib==1.6.5
progressbar33==2.4
py-dateutil==2.2
pycrypto
pytz
requests
rfc6266
