{% extends "layout.html" %}
{% block html_head %}
<link rel="stylesheet" type="text/css" href="/static/stylesheets/box.css" />
{% endblock %}
{% block content %}
<div id="loginbox">
  <h3>Welcome</h3>
{% if form.errors %}
  <div class="error">
    <p>Your username and password didn't match. Please try again.</p>
  </div>
{% endif %}
  <form method="post" action=".">
    {% for field in form %}
    <div class="row">
      {{ field.label_tag }}{{ field }}
    </div>
    {% endfor %}
    <div class="lastrow" align="center">
      <input type="submit" value="login" />
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock %}
