{% extends "layout.html" %}
{% block content %}
{% load i18n %}
<div id="body">
  <div id="leftcol">
    <div id="userbox" class="leftbox">
      {% if user.first_name %}
      <h3>{{ user.first_name }} {{ user.last_name }}</h3>
      {% else %}
      <h3>{{ user.username }}</h3>
      {% endif %}
      <ul>
        <li>
          {% url django.contrib.auth.views.logout_then_login as logout_url %}
          <a href="{{ logout_url }}">
            <img src="/static/pics/logout.png" border="0" />{% trans "Logout" %}</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="content">
    <div class="header">
      <h1>{% trans "General" %}</h1>
    </div>
    <div id="menubar" class="menu2">
      <ul>
        <li><a href="">
          <img src="/static/pics/edit.png" border="0"/>
          {% trans "Change password" %}</a>
        </li>
        <li>
          <a href=""><img src="/static/pics/auto-reply.png" border="0"/>
          {% trans "Auto-reply message" %}
          </a>
        </li>
      </ul>
    </div>
    
  </div>
</div>
{% endblock %}
