{% load i18n %}
<ul>
  {% for entry in entries %}
    {% if entry.menu %}
  <li class="dropdown {{ entry.class }}">
    <img src="{{ entry.img }}" border="0" />
    <label>{{ entry.label }}</label>
    <ul class="links"
        {% if entry.width %}style="width: {{ entry.width }}px"{% endif %}>
      {% for sentry in entry.menu %}
      <li>
        <a href="{{ sentry.url }}" name="{{ sentry.name }}">
          <img src="{{ sentry.img }}" border="0" />
          {{ sentry.label }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </li>
    {% else %}
  <li {% ifequal selection entry.name %}class="selected"{% endifequal %}>
    <a href="{{ entry.url }}" name="{{ entry.name }}"
     {% if entry.class %}class={{ entry.class }}{% endif %}
     {% if entry.rel %}rel={{ entry.rel }}{% endif %}
     {% if entry.confirm %} onclick="return confirm('{{ entry.confirm }}')"{% endif %}>
    
    <img src="{{ entry.img }}" border="0" />
    {{ entry.label }}
    </a>
  </li>
    {% endif %}
  {% endfor %}
</ul>
