{% load i18n %}
<div id="searchbox" class="navbar-form navbar-left">
    <div class="input-group">
    <input type="text" class="form-control" name="searchfield" id="searchfield" placeholder="{% trans "Search..." %}" />
  <ul class="dropdown-menu pull-right" id="searchparams">
    <li><label class="radio"><input type="radio" id="crit_from_addr" name="scriteria" value="from_addr" checked>{% trans "From address" %}</label></li>
    <li><label class="radio"><input type="radio" id="crit_subject" name="scriteria" value="subject">{% trans "Subject" %}</label></li>
    {% for opt in extraopts %}
    <li><label class="radio"><input type="radio" id="crit_{{ opt.name }}" name="scriteria" value="{{ opt.name }}">{{ opt.label }}</label></li>
    {% endfor %}
    <li><label class="radio"><input type="radio" id="crit_both" name="scriteria" value="both">{% trans "Both" %}</label></li>
  </ul>
        <a href="#" class="input-group-addon" data-toggle="dropdown"><i class="glyphicon glyphicon-search" id="searchopts"></i></a>
    </div>
</div>