<div id="pagination_bar" class="simplepagination">
  <ul>
    {% if page.has_previous %}
    <li>
      <a href="{{ baseurl }}page=1">
        <span class="fa fa-fast-backward"></span></a>
    </li>
    <li>
      <a href="{{ baseurl }}page={{ page.previous_page_number }}">
        <span class="fa fa-step-backward"></span></a>
    </li>
    {% else %}
    <li>
      <span class="fa fa-fast-backward"></span>
    </li>
    <li>
      <span class="fa fa-step-backward"></span>
    </li>
    {% endif %}
    <li class="disabled navbar-text">
      {{ page.number }}/{{ page.paginator.num_pages }}
    </li>
    {% if page.has_next %}
    <li>
      <a href="{{ baseurl }}page={{ page.next_page_number }}">
      <span class="fa fa-step-forward"></span></a>
    </li>
    <li>
      <a href="{{ baseurl }}page={{ page.paginator.num_pages }}">
      <span class="fa fa-fast-forward"></span></a>
    </li>
    {% else %}
    <li>
      <span class="fa fa-step-forward"></span>
    </li>
    <li>
      <span class="fa fa-fast-forward"></span>
    </li>
    {% endif %}
  </ul>
</div>

<div class="display-less-1198 pull-right">
    {% if page.has_previous %}
        <a href="{{ baseurl }}page={{ page.previous_page_number }}" class="btn btn-lg btn-link fa fa-chevron-left" type="button"></a>
    {% else %}
        <a class="btn btn-lg btn-link fa fa-chevron-left" type="button"></a>
    {% endif %}
    {% if page.has_next %}
        <a href="{{ baseurl }}page={{ page.next_page_number }}" class="btn btn-lg btn-link fa fa-chevron-right" type="button"></a>
    {% else %}
        <a class="btn btn-lg btn-link fa fa-chevron-right" type="button"></a>
    {% endif %}
</div>
