{% load i18n lib_tags %}

  <div class="modal-dialog">
    <div class = "modal-content">
        <div class="modal-header">
          <a class="btn btn-default close" data-dismiss="modal">x</a>
          <h3>{{ title }} / <small>{{ subtitle }}</small></h3>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" action="{{ action }}" enctype="{{ enctype }}"
                method="POST" id="{{ formid }}" name="{{ formid }}">{% csrf_token %}
            <div id="wizard" class="carousel">
              <div class="carousel-inner">{% for step in steps %}
                <div id="step{{ forloop.counter }}"
                     class="item{% if forloop.first %} active{% endif %}">
                  {% if step.formtpl %}{% render_form step.form step.formtpl %}{% else %}{% render_form step.form %}{% endif %}
                </div>{% endfor %}
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="buttons_list">
            {% for step in steps %}
            <div id="step{{ forloop.counter }}_buttons"
                 class="bset{% if forloop.first %} active{% endif %}">
              {% for button in step.buttons %}
              <a href="#" class="btn {{ button.classes }}">{{ button.label }}</a>
              {% endfor %}
            </div>
            {% endfor %}
              <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
          </div>
        </div>
      </div>
</div>