{% extends "fixed.html" %}
{% load i18n %}
{% block html_head %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}stats/css/stats.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/history.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}stats/js/stats.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var stats = new Stats({
        graphurl: "{% url modoboa.extensions.stats.views.graphs %}",
        deflocation: "{{ deflocation }}"
    });
});
</script>
{% endblock %}
{% block fixed_content %}
<div id="menubar">
  <form id="searchform" class="form-search">
    <input class="input-medium search-query" type="text" 
           value={% if squery %}"{{ squery }}"{% else %}"{% trans 'Search a domain' %}"{% endif %}
           id="searchquery" name="searchquery" />
  </form>
  <form id="period" class="form-inline">
    {% for p in periods %}<label class="radio"><input name="period" type="radio" value="{{ p.name }}"{% if p.name == period %}checked{% endif %} />{% trans p.label %}</label>
    {% endfor %}
    <span id="custom-period">
      <input id="id_from" class="input-small" name="date_from" value="{{ start }}" type="text" />
      <input id="id_to" class="input-small" name="date_to" value="{{ end }}" type="text" />
      <button class="btn" id="customsend">{% trans "Apply" %}</button>
    </span>
  </form>
</div>
<hr>
<div id="graphs"></div>
{% endblock %}
 
