{% extends "fixed.html" %}
{% block html_head %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}amavis_quarantine/css/quarantine.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.htmltable.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/history.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/searchbar.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}amavis_quarantine/js/quarantine.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var qm = new Quarantine({
        deflocation: "{{ deflocation }}",
        defcallback: "{{ defcallback }}"
    });
});
</script>
{% endblock %}
{% block fixed_content %}
<div id="menubar"></div>
<div id="listing"></div>
{% endblock %}
{% block footer %}
{% endblock %}
