#menubar { 
    position: fixed;
    top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    left: 0;
    right: 0;
    z-index: 10;
}

#listing { 
    position: fixed;
    padding: 0 15px;
    right: 0;
    left: 0;
}

#mailcontent {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#emails tbody tr:hover { 
    color: #0088cc;
}

#filters_bar {
    /*padding-top: 5px;*/
    padding-left: 15px;
}

thead tr {
    position: relative;
    z-index: 1;
}

td[name=type] span {
    cursor: pointer;
}

td.unseen { 
    font-weight: bold;
}

td.pending { 
    font-style: italic;
}