{% load i18n libextras %}
<form class="form-horizontal" method="POST" action="{{ posturl }}" id="composemail">
  <div id="compose-container">
    <div id="mailheader" class="well">
      {% render_field form.from_ %}
      <div class="options">
        <a id="add_cc" href="#">{% trans "Add Cc field" %}</a> <a id="add_cci" href="#">{% trans "Add Cci field" %}</a>
      </div>
      {% render_field form.to %}
      {% render_and_hide_field form.cc %}
      {% render_and_hide_field form.cci %}
      {% render_field form.subject %}
      <div id="attachments" name="{% url modoboa.extensions.webmail.views.attachments %}">
        <div>
          <img src="{{ STATIC_URL }}pics/attachment.png" />
          {% trans "Attachments" %}
        </div>
        <div id="list">
          {% blocktrans count attachments|length as counter %}{{ counter }} file{% plural %}{{ counter }} files{% endblocktrans %}
          <span class="shortlist">{{ short_att_list }}</span>
        </div>
      </div>
    </div>

    <div id="body_container">
    {% if body %}
    <textarea id="id_body" name="id_body" class="editor">{% if bodyheader %}{{ bodyheader }}{% endif %}
{{ body }}
</textarea>
    {% else %}
    <textarea id="id_body" name="id_body" class="editor"></textarea>
    {% endif %}
    </div>
  </div>
</form>

