{% extends "fixed.html" %}{% load i18n lib_tags %}{% load url from future %}
{% block pagetitle %}Webmail{% endblock %}
{% block html_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}webmail/css/webmail.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/history.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.htmltable.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/searchbar.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}webmail/js/webmail.js"></script>
<script type="text/javascript">
var webmail = undefined;

$(document).ready(function() {
    webmail = new Webmail({
        poller_interval: {{ refreshrate }},
        poller_url: "{% url 'modoboa.extensions.webmail.views.check_unseen_messages' %}",
        move_url: "{% url 'modoboa.extensions.webmail.views.move' %}",
        submboxes_url: "{% url 'modoboa.extensions.webmail.views.submailboxes' %}",
        delattachment_url: "{% url 'modoboa.extensions.webmail.views.delattachment' %}",
        deflocation: "{{ deflocation }}",
        defcallback: "{{ defcallback }}",
        ro_mboxes: {% tolist ro_mboxes %},
        trash: "{{ trash }}",
        hdelimiter: '{{ hdelimiter }}',
        mboxes_col_width: {{ mboxes_col_width }}
    });
});
</script>
{% endblock %}

{% block fixed_content %}
<div class="row">
    <div id="leftcol" class="col-lg-2 col-md-3 col-ms-3 col-xs-0">
      <div id="folders" class="well">{{ mboxes }}</div>
    </div>
    <div id="rightcol" class="col-lg-10 col-md-12 col-ms-12 col-xs-12">
        <div id="menubar" class="col-lg-12 col-md-12 col-ms-12 col-xs-12"></div>
        <div id="listing" class=""></div>
    </div>
</div>
{% endblock %}
{% block footerleft %}
{% if quota != -1 %}
<div id="quotabox">
  <label class="pull-left navbar-text">{% trans "Mailbox quota" %}</label>
  <div id="quotabar" class="pull-left progress {% progress_color quota %}">
    <div class="bar" style="width: {{ quota }}%"></div>
  </div>
  <label id="quotaraw" class="pull-left navbar-text">{{ quota }}%</label>
</div>
{% endif %}
{% endblock %}