body {
    font-family: arial, helvetica, verdana, tahoma, sans-serif;
    font-size: 0.9em;
    margin: 0 auto;
    padding: 0;
}

div.row {
    clear: both;
    padding-top: 10px;
    padding-left: 20px;
}

div.row label {
    float: left;
    width: 120px;
    padding: 3px 0;
    margin-right: 5px;
}

input {
    border: 1px solid #cccccc;
    color: inherit;
    background-color: #eee;
    padding: 2px;
}

input[type=text], input[type=password] {
    width: 140px;
}

/*input:hover {
    color: inherit;
    background-color: #ffffcc;
}*/

input:focus {
    color: inherit;
    background-color: #ffffcc;
}

textarea {
    border: 1px solid #cccccc;
    background-color: #eee;
    width: 300px;
    font-family: inherit;
    font-size: inherit;
}

select {
    width: 145px;
    background-color: #eee;
    border: 1px solid #cccccc;
}

td.odd {
    background: #F7F9Fb;
}

td.even {

}

.title {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.title img {
    float: left;
    margin: 1px 3px;;
}

.title h1 {
    float: left;
    margin: 5px;
    font-size: medium;
    font-weight: bold;
}

.lastrow {
    margin-top: 20px;
}

.errorlist ul {
    float: left;
    list-style: none;
}

.errorlist li { 
    margin-left: 10px;
    float: left;
    display: inline;
    color: red;
}

.error {
    margin-left: 20px;
    color: red;
    font-size: small;
    font-weight: bold;
}

.center { 
    text-align: center;
}

#id_username { 
  width: 120px;
}

#id_password { 
  width: 120px;
}

/* Mootools tooltips */
.tip {
    display: none;
    position: absolute;
    color: #fff;
    z-index: 2;
    border: 1px solid #cccccc;
}
 
.tip-title {
    font-weight: bold;
    font-size: 11px;
    margin: 0;
    color: #9FD4FF;
    padding: 8px 8px 4px;
    background: #eee;
}

.tip-text {
    font-size: 0.9em;
    padding: 4px 8px 8px;
    background: #eee;
    color: black;
}

.spacer {
    clear: both;
}

ul { 
    list-style: none;
    padding: 0;
}

li { 
    display: inline;
}

/*
 * clearfix related
 */
.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   overflow: hidden;
   line-height: 0;
   height: 0;
}
 
.clearfix {
   display: inline-block;
}
 
html[xmlns] .clearfix {
   display: block;
}
 
* html .clearfix {
   height: 1%;
   overflow: visible;
}

/*
 * Domain admin form
 */
#createfrom {
    margin: 10px auto;
    width: auto;
}

#permform > #id_name { 
    width: 180px;
}