#logo { 
    margin-top: 60px;
}

#logo img {
    height: 100px;
}

input[type="text"], 
input[type="password"] { 
    width: 315px;
    padding: 7px;
}

.form-actions { 
    background-color: transparent;
    padding-right: 0px;
    padding-left: 0px;
}

