body {
    padding-top: 60px;
    padding-bottom: 60px;
}

#fixed_content { 
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    overflow: hidden;
}

.navbar-text { 
    color: #999999 !important;
}

.simplepagination ul { 
    display: inline-block;
}

.simplepagination li { 
    display: inline;
}

.simplepagination .disabled a,
.simplepagination .disabled a:hover { 
    background-color: transparent;
    cursor: default;
}

.sidebar-nav { 
    padding: 9px 0;
}

.form-horizontal .param-label { 
    float: left;
    padding-top: 5px;
    text-align: left;
    width: 250px;
    margin-left: 20px;
}

.form-horizontal .param-controls { 
    margin-left: 210px;
}

.form-horizontal .control-group { 
    margin-bottom: 8px;
}

.dropdown-menu .radio {
    padding: 3px 33px;
}

.no-margin { 
    margin: 0 !important;
}

.dropdown-menu label:hover { 
    background-color: #0088CC;
    color: white;
}

.spaced select,
.spaced input[type="text"],
.spaced input[type="password"],
.spaced span {
    margin-bottom: 8px;
}

.padded5 { 
    padding: 5px;
}

.buttons_list .bset { 
    display: none;
}

.buttons_list .active { 
    display: inline;
}

.tr-selected { 
    background-color: #F5F5F5;
}

.hidden { 
    display: none;
}

.help-block { 
    color: #999999;
    font-style: italic;
}

.label a {
    color: #FFFFFF;
    text-decoration: none;
}

.table-fixed {
    table-layout: fixed;
}