 /* ------- Media ------- */

@media (max-width: 440px) {


    .navbar .col-xs-8{
        padding-right:0;
    }
}

 @media (max-width: 768px) {

     .navbar .navbar-header,
     .navbar #pagination-responsive{
         display: inline-block;
     }

     tr th#tags,
     tr.muted td[name="tags"]{
         display: none;
     }
     button.navbar-toggle[data-target="#navigate-navbar-collapse"]{
         float: left;
         margin-left: 20px;
     }

     .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
         margin-left: 0;
         margin-right: 0;
     }
 }

 @media (max-width: 1198px) {
     #pagination-responsive .display-less-1198{
         display: inherit;
     }
     .display-up-1198{
         display: none;
     }
     .dropdown{
         margin:0px;
     }
     .btn-group{
         margin:0px;
     }
}

 /* --------- general --------- */

 /* Form */

 .form-horizontal .form-group {
     margin-left: -15px;
 }

 /* Buttons */

 .btn-back{
     color: #EBEAE9;
     background-color: #222222;
 }

 .navbar .btn-link:hover,
 .navbar .btn-link:focus{
     text-decoration: none;
 }

 /* links */
 a{
     color: #0088CC;
 }

 a:hover{
     color: #0088CC;
 }

 div.container-fluid div.row-fluid div.col-md-2 div.well ul.nav div.side-bar-responsive li a{
     color: #0088CC;
 }

 /* Colapse Nav */

 .navbar-inverse .navbar-toggle {
     border-color: #999999;
 }

 .navbar-inverse .navbar-toggle span{
     color: white;
 }

 .navbar-toggle{
     background-color: #000;
     margin-bottom: 4px;
     margin-top: 2px;
     padding: 9px 10px;
 }

 button.navbar-toggle[data-target="#navigate-navbar-collapse"]{
     margin-right: 18px;
 }

 /* Global */

.container-fluid{
    padding:0;
}

h5{
    font-size:15px;
    font-weight: bold;
}

label{
    font-weight: normal;
}

.modals div.input-group{
    margin-bottom:8px;
}

.form-horizontal .param-label {
    float: left;
    padding-top: 5px;
    text-align: left;
    width: 250px;
    margin-left: 20px;
}

.form-horizontal .param-controls {
    margin-left: 210px;
}

.form-horizontal .input-group {
    margin-bottom: 8px;
}

.dropdown{
    margin-right: 20px;
}

.dropdown-menu .radio {
    padding: 3px 33px;
}

.no-margin {
    margin: 0 !important;
}

.dropdown-menu label:hover {
    background-color: #0088CC;
    color: white;
}

.padded5 {
    padding: 5px;
}

.buttons_list .bset {
    display: none;
}

.buttons_list .active {
    display: inline;
}

.tr-selected {
    background-color: #F5F5F5;
}

.hidden {
    display: none;
}

.label a {
    color: #FFFFFF;
    text-decoration: none;
}

.table-fixed {
    table-layout: fixed;
}

.menubar-text {
    display: inline;
    vertical-align: middle;
}

.label-title {
    vertical-align: middle;
    margin: 0 10px;
}




/* --------- main page --------- */


 /* Top navbar section */

 .top-navbar{
     border-radius: 0;
     min-height: 26px;
 }

 .display-less-1198{
     display: none;
 }

 div#navigate-navbar-collapse.navbar-collapse{
     z-index: 9999;
 }
 html body div.navbar div.container-fluid div#navigate-navbar-collapse.collapse ul.nav li.dropdown a.dropdown-toggle{
     color: white;
 }

 #pagination-responsive #pagination_bar{
     display: none;
 }

 /*left navSideBar */

div.container-fluid div.well{
    padding:0;
}

.container-fluid .well .side-bar-responsive{
    padding:16px;
}

.nav-header {
    color: #959595;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top:10px;
    margin-left: 6px;
}

.container-fluid .well .nav li{
    display: block;
}

.container-fluid .well .nav > li > a:hover,
.container-fluid .well .nav > li > a:focus{
    background-color: #0088CC;
    color:white;
    border-radius: 5px;
}
div.container-fluid div.row-fluid .well  div.side-bar-responsive li:hover a{
    color: #428BCA;
    text-decoration: none;
}
.well ul.nav li a i.glyphicon{
    color:black;
    margin-right: 7px;
}

 /* Action buttons */

 .action-buttons {
     margin-bottom: 4px;
 }


 /* listing */

 #listing{
     margin-bottom:60px;
 }

 .table > thead > tr > th {
     border-bottom: 2px solid #FBFBFB;
 }

/* Bottom navBar*/

 .nav-bottom {
     margin-top: 80px;
 }

#bottom-bar-middle {
    text-align: center;
}

#bottom-bar-right{
    text-align: right;
}

.navbar-text {
    color: #999999 !important;
    float:none;
 }

.simplepagination ul {
    margin-bottom: 0;
}

.simplepagination li {
    display: inline;
    cursor: pointer;
}
.simplepagination li i{
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
}

.simplepagination .disabled a,
.simplepagination .disabled a:hover {
    cursor: default;
}


/* --------- specific pages --------- */

/* identities tables */

.muted a:hover{
    color: black;
    text-decoration: none;
}

.label .idt{
        color: gray;
}

.label{
    margin-left:1px;
}


 /* modals */

.modal-body .form-group input[type='checkbox'] {
     margin: 11px 0 0;
 }

 /* settings */

 .container-fluid #uprefs_content .form-horizontal .form-actions{
     margin-right: 16px;
 }