{% extends "twocols.html" %}{% load i18n %}{% load url from future %}
{% block pagetitle %}{% trans "Graphical statistics" %}{% endblock %}
{% block html_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stats/css/stats.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/history.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/autocompleter.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/d3.v3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}stats/js/d3.legend.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}stats/js/graphic.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}stats/js/stats.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var stats = new Stats({
        graphurl: "{% url 'modoboa.extensions.stats.views.graphs' %}",
        domain_list_url: "{% url 'modoboa.extensions.admin.views.domain.domains_list' %}",
        deflocation: "{{ deflocation|safe }}",
        language: "{{ LANGUAGE_CODE }}"
    });
});
</script>
{% endblock %}
{% block leftcol %}
<ul class="nav nav-sidebar">
  {% for id, gset in graph_sets.items %}
  <li id="menu_{{ gset.html_id }}"><a href="#">{{ gset.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}

{% block apparea %}
<div class="row">
  <div class="col-sm-5">
    <form class="form-horizontal" role="form">
      <div class="form-group has-feedback">
        <div class="col-sm-12">
          <input class="form-control" id="searchquery" type="text" value="{% trans 'Search a domain' %}">
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-3">
    <div class="btn-group" data-toggle="buttons">
      {% for p in periods %}
      <label class="btn btn-primary period_selector">
        <input type="radio" data-period="{{ p.name }}"> {% trans p.label %}
      </label>
      {% endfor %}
    </div>
  </div>
</div>

<div class="row hidden">
  <div class="col-md-7">
    <form class="form-inline">
      <span id="custom-period">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-indent-left"></span></div>
            <input id="id_from" class="form-control" name="date_from" value="{{ start }}" type="text" readonly="readonly" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-indent-right"></span></div>
            <input id="id_to" class="form-control" name="date_to" value="{{ end }}" type="text" readonly="readonly" />
          </div>
        </div>
        <button class="btn btn-primary" id="customsend">{% trans "Apply" %}</button>
      </span>
    </form>
  </div>
</div>

<div id="graphs">
  {% for id, gset in graph_sets.items %}
  <div class="tab-pane {% if forloop.first %}active{% endif %}" id="graphs_{{ gset.html_id }}">
    <div id="gset"></div>
  </div>
  {% endfor %}
</div>

{% endblock %}
