{% extends "twocols.html" %}{% load i18n %}{% load url from future %}
{% block pagetitle %}{% trans "Graphical statistics" %}{% endblock %}
{% block html_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stats/css/stats.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/history.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/autocompleter.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}d3/js/d3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}stats/js/d3.legend.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}stats/js/graphic.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}stats/js/stats.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var stats = new Stats({
        graphurl: "{% url 'stats:graph_list' %}",
        domain_list_url: "{% url 'admin:domain_flat_list' %}",
        deflocation: "{{ deflocation|safe }}",
        language: "{{ LANGUAGE_CODE }}"
    });
});
</script>
{% endblock %}
{% block leftcol %}
<ul class="nav nav-sidebar">
  {% for id, gset in graph_sets.items %}
  <li id="menu_{{ gset.html_id }}"><a href="#">{{ gset.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}

{% block apparea %}
<div id="menubar" class="row">
  <div class="col-sm-5">
    <form class="form-horizontal" role="form">
      <div class="form-group has-feedback">
        <input class="form-control" id="searchquery" type="text" value="{% trans 'Search a domain' %}">
        <span class="fa fa-search form-control-feedback"></span>
      </div>
    </form>
  </div>

  <div class="col-sm-7">
    <div class="btn-group" data-toggle="buttons">
      {% for p in periods %}
      <label class="btn btn-primary period_selector">
        <input type="radio" data-period="{{ p.name }}"> {% trans p.label %}
      </label>
      {% endfor %}
    </div>
  </div>
</div>

<div id="custom_period" class="row hidden">
  <div class="col-sm-7">
    <form class="form-inline">
      <span id="custom-period">
        <div class="form-group">
          <div class="input-group datetime_picker" data-link-field="id_from">

            <input class="form-control" value="" type="text" readonly="readonly">
            <span class="add-on"><i class="fa fa-remove"></i></span>
            <span class="add-on"><i class="fa fa-th"></i></span>
          </div>
          <input type="hidden" id="id_from" name="date_from" value="{{ start }}" /><br/>
        </div>
        <div class="form-group">
          <div class="input-group datetime_picker">
            <div class="input-group-addon"><span class="fa fa-outdent"></span></div>
            <input class="form-control" type="text" readonly="readonly" />
          </div>
          <input type="hidden" id="id_to" name="date_to" value="{{ end }}" /><br/>
        </div>
        <button type="submit" class="btn btn-primary" id="customsend">{% trans "Apply" %}</button>
      </span>
    </form>
  </div>
</div>

<div id="graphs">
  {% for id, gset in graph_sets.items %}
  <div class="tab-pane {% if forloop.first %}active{% endif %}" id="graphs_{{ gset.html_id }}">
    <div id="gset"></div>
  </div>
  {% endfor %}
</div>

{% endblock %}
