{% extends "admin/add_permission.html" %}
{% block html_head %}
{{ block.super }}
<script type="text/javascript">
window.addEvent("domready", function() {
domadminform_init = function() {
    $("id_domain").addEvent("change", function(event) {
	var domid = this.value;
	if (domid == "") {
	    $("id_user").set("html", "");
	    return;
	}
	{% url domains as doms_url %}
	new Request({
	    url: "{% url domains %}" + domid + "/rawmboxes/?target=permissions",
	    method: "get", 
            onComplete: ajax_login_redirect,
            onSuccess: function(data) {
		$("id_user").set("html", data);
		$("id_user").options[0].setProperty("selected", "selected");
	    }
	}).send();
    });
};
domadminform_init();
});
</script>
{% endblock %}
