{% extends "admin/domain_header.html" %}
{% block menu %}
{% load admin_extras %}
{% domain_menu domain.id "aliases" perms %}
{% endblock %}
{% block domcontent %}
{% load i18n %}
{% if not aliases %}
<p>{% trans "No alias defined." %}</p>
{% else %}
<table>
  <tr>
    <th width="50px">{% trans "Actions" %}</th>
    <th width="150px">{% trans "Address" %}</th>
    <th width="200px">{% trans "Mailbox" %}</th>
    <th width="75px">{% trans "Enabled" %}</th>
  </tr>
{% for alias in aliases %}
  <tr>
    <td>
      {% url admin.views.editalias domain.id alias.id as edit_url %}
      <a href="{{ edit_url }}" class="boxed"
         rel="{handler:'iframe',size:{x:300,y:190}}">
        <img src="/static/pics/edit.png" border="0" title="{% trans 'Edit alias' %}"/>
      </a>
      {% url admin.views.delalias domain.id alias.id as del_url %}
      <a href="{{ del_url }}" name="deleteAlias">
        <img src="/static/pics/remove.png" border="0" title="{% trans 'Delete alias' %}" />
      </a>
    </td>
    <td>{{ alias.full_address }}</td>
    <td>
      {% for mb in alias.mboxes.all %}
      {{ mb.full_address }}<br/>
      {% endfor %}
    </td>
    <td>{{ alias.enabled|yesno }}</td
  </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
