{% extends "nlayout.html" %}
{% load i18n admin_extras libextras %}
{% block html_head %}
  <script src="{{ MEDIA_URL }}js/domains.js" type="text/javascript"></script>
  <script type="text/javascript">
  </script>
{% endblock %}
{% block middletitle %}{% trans "Available aliases" %}{% endblock %}
{% block menu %}{% domains_menu "domaliases" user %}{% endblock %}
{% block content %}
{% if messages %}{% display_messages messages %}{% endif %}
<div id="domcontent">
  {% if not domaliases %}
  <div class="info">{% trans "No domain alias defined." %}</div>
  {% else %}
  <table>
    <tr>
      <th width="50px">{% trans "Actions" %}</th>
      <th width="150px">{% trans "Name" %}</th>
      <th width="200px">{% trans "Targeted domain" %}</th>
      <th width="75px">{% trans "Enabled" %}</th>
    </tr>
    {% for domalias in domaliases %}
    <tr>
      <td></td>
      <td>{{ domalias.name }}</td>
      <td>{{ domalias.target.name }}</td>
      <td>{{ domalias.enabled|yesno }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
{% endblock %}
