{% extends "layout.html" %}
{% load i18n %}
{% block html_head %}
<script src="/static/js/domains.js" type="text/javascript"></script>
{% endblock %}
{% block middletitle %}{% trans "Available domains" %}{% endblock %}
{% block content %}
<div id="domcontent">
  {% if not domains %}
  {% trans "No domain defined." %}
  {% else %}
  <table>
    <tr>
      <th width="50px">{% trans "Actions" %}</th>
      <th width="80px">{% trans "Name" %}</th>
      <th width="50px">{% trans "Mailboxes" %}</th>
      <th width="50px">{% trans "Quota" %}</th>
      <th width="50px">{% trans "Enabled" %}</th>
    </tr>
    {% for dom in domains %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>
        {% url admin.views.editdomain dom.id as edit_url %}
        <a href="{{ edit_url }}" class="boxed"
           rel="{handler:'iframe',size:{x:300,y:180}}">
          <img src="/static/pics/edit.png" border="0" title="{% trans 'Edit domain' %}"/>
        </a>
        {% url admin.views.deldomain dom.id as del_url %}
        <a href="{{ del_url }}" name="deleteDom">
          <img src="/static/pics/remove.png" border="0" title="{% trans 'Delete domain' %}"/>
        </a>
      </td>
      {% url admin.views.mailboxes dom.id as domurl %}
      <td><a name="loadDom" href="{{ domurl }}">{{ dom.name }}</a></td>
      <td>{{ dom.mboxcounter }}</td>
      <td>{{ dom.quota }} {% trans "MB" %}</td>
      <td>{{ dom.enabled|yesno:_("yes,no") }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
{% endblock %}
