{% extends "nlayout.html" %}
{% load i18n admin_extras libextras %}
{% block html_head %}
  <script src="{{ MEDIA_URL }}js/domains.js" type="text/javascript"></script>
  <script type="text/javascript">
    window.addEvent('domready', function() {
      {% url admin.views.domains as view_url %}
      bindRows("{{ view_url }}", "{{ current_page }}");
    });
  </script>
{% endblock %}
{% block middletitle %}{% trans "Available domains" %}{% endblock %}
{% block menu %}{% domains_menu "domains" user %}{% endblock %}
{% block content %}
{% if messages %}
{% display_messages messages %}
{% endif %}
<div id="domcontent">
  {% if not domains %}<div class="info">{% trans "No domain defined." %}</div>
  {% else %}
  <table>
    <tr>
      <th width="100px">{% trans "Actions" %}</th>
      <th>{% trans "Name" %}</th>
      <th width="150px">{% trans "Mailboxes" %}</th>
      <th width="50px">{% trans "Quota" %}</th>
      <th width="50px">{% trans "Enabled" %}</th>
    </tr>
    {% for dom in domains %}
    <tr class="{% cycle 'odd' 'even' %}" id="{{ dom.id }}">
      <td>
        {% url admin.views.editdomain dom.id as edit_url %}
        <a href="{{ edit_url }}" class="boxed"
           rel="{handler:'iframe',size:{x:300,y:180}}">
          <img src="{{ MEDIA_URL }}pics/edit.png" border="0" title="{% trans 'Edit domain' %}"/>
        </a>
        {% url admin.views.deldomain dom.id as del_url %}
        <a href="{{ del_url }}" name="deleteDom">
          <img src="{{ MEDIA_URL }}pics/remove.png" border="0" title="{% trans 'Delete domain' %}"/>
        </a>
	{% url admin.views.newdomalias dom.id as new_url %}
	<a href="{{ new_url }}" class="boxed"
	   rel="{handler:'iframe',size:{x:300,y:180}}">
          <img src="{{ MEDIA_URL }}pics/add.png" border="0" title="{% trans 'Add domain alias' %}"/>
        </a>
      </td>
      {% url admin.views.mailboxes dom.id as domurl %}
      <td>{{ dom.name }}</td>
      <td>{{ dom.mboxcounter }}</td>
      <td>{{ dom.quota }} {% trans "MB" %}</td>
      <td>{{ dom.enabled|yesno:_("yes,no") }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
{% endblock %}
