{% extends "admin/domains_header.html" %}
{% load i18n admin_extras libextras %}
{% block pagetitle %}{% trans "Domain aliases" %}{% endblock %}
{% block subcontent %}
<div id="objects" name="domaliases" rel="310 190">
  {% if not domaliases %}
  <div class="info">{% trans "No domain alias defined." %}</div>
  {% else %}
  <table id="objects_table">
    <tr>
      <th width="150px">{% trans "Name" %}</th>
      <th>{% trans "Targeted domain" %}</th>
      <th width="70px" class="center">{% trans "Enabled" %}</th>
      <th width="70px" class="center">{% trans "Actions" %}</th>
    </tr>
    {% for domalias in domaliases %}
    <tr class="{% cycle 'odd' 'even' %}" id="{{ domalias.id }}">
      <td>{{ domalias.name }}</td>
      <td>{{ domalias.target.name }}</td>
      <td class="center">{{ domalias.enabled|yesno }}</td>
      <td class="center">{% domalias_actions user domalias.id %}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
{% endblock %}
