{% extends "admin/domains_header.html" %}
{% load i18n admin_extras libextras %}
{% block pagetitle %}{% trans "Domain aliases" %}{% endblock %}
{% block subcontent %}
  {% if not domaliases %}
  <div class="info">{% trans "No domain alias defined." %}</div>
  {% else %}
  <table>
    <tr>
      <th width="50px">{% trans "Actions" %}</th>
      <th width="150px">{% trans "Name" %}</th>
      <th width="200px">{% trans "Targeted domain" %}</th>
      <th width="75px">{% trans "Enabled" %}</th>
    </tr>
    {% for domalias in domaliases %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{% domalias_actions user domalias.id %}</td>
      <td>{{ domalias.name }}</td>
      <td>{{ domalias.target.name }}</td>
      <td>{{ domalias.enabled|yesno }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
{% endblock %}
