{% extends "admin/layout_simple.html" %}
{% block html_head %}
<script src="/static/js/form.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="title"><h1>Domain {{ domain.name }}</h1></div>

{% if error %}<div class="error">{{ error }}</div>{% endif %}
{% url admin.views.editdomain domain.id as dom_url %}
<form action="{{ dom_url }}" method="post" name="domform" id="domform">
  {% include "admin/genericform.html" %}

  <div class="lastrow" align="center">
    <input type="submit" class="button" name="submit" value="Update" />
  </div>
</form>
{% endblock %}
