{% extends "layout_simple.html" %}
{% load i18n %}
{% block html_head %}
<script src="/static/js/form.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="title"><h1>{% trans "Mailbox" %} {{ mbox.name }}</h1></div>

{% if error %}<div class="error">{{ error }}</div>{% endif %}
{% url admin.views.editmailbox mbox.domain_id mbox.id as box_url %}
<form action="{{ box_url }}" method="POST" id="mboxform" name="mboxform">
  {% include "common/genericform.html" %}
  <div class="spacer"></div>
  
  <div class="lastrow" align="center">
    <input type="submit" name="submit" value="{% trans 'Update' %}" />
  </div>
</form>
{% endblock %}
