{% extends "admin/header.html" %}
{% load admin_extras libextras %}
{% block html_head %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/dynamic_input.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("#searchquery").focus(function() {
        $(this).attr("value", "");
    }).blur(function() {
        var $this = $(this);
        if ($this.attr("value") == "") {
            $this.attr("value", {% if squery %}"{{ squery }}"{% else %}gettext("Search"){% endif %});
        }
    });
});
</script>
{% endblock %}
{% block leftcol %}{% get_extra_admin_content user "leftcol" selection %}{% endblock %}
{% block apparea %}
{{ table|safe }}
{% endblock %}
{% block footerright %}{%  pagination_bar page %}{% endblock %}
