{% extends "admin/domain_header.html" %}
{% load i18n %}

{% block menu %}
{% load admin_extras %}
{% domain_menu domain.id "mailboxes" perms %}
{% endblock %}
{% block domcontent %}
{% load i18n %}
{% if not mailboxes %}
<p>{% trans "No mailbox defined." %}</p>
{% else %}
<table>
  <tr>
    <th width="80px">{% trans "Actions" %}</th>
    <th width="130px">{% trans "Name" %}</th>
    <th width="170px">{% trans "Address" %}</th>
    <th width="60px">{% trans "Quota" %}</th>
    <th width="50px">{{ "Enabled"|gender:"f" }}</th>
  </tr>
  {% for mb in mailboxes %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>
      {% url admin.views.editmailbox domain.id mb.id as edit_url %}
      <a href="{{ edit_url }}" class="boxed"
         rel="{handler:'iframe',size:{x:300,y:280}}">
        <img src="/static/pics/edit.png" border="0" title="{% trans 'Edit mailbox' %}"/>
      </a>
      {% url admin.views.delmailbox domain.id mb.id as del_url %}
      <a href="{{ del_url }}" name="deleteMb">
        <img src="/static/pics/remove.png" border="0"
             title="{% trans 'Delete mailbox' %}" />
      </a>
      {% url admin.views.newalias domain.id mb.id as alias_url %}
      <a href="{{ alias_url }}" class="boxed"
         rel="{handler:'iframe',size:{x:300,y:190}}">
        <img src="/static/pics/add.png" border="0" title="{% trans 'Add new alias' %}"/>
      </a>
      {% url mbox-aliases domain.id mb.id as aliases_url %}
      <a href="{{ aliases_url }}">
        <img src="/static/pics/alias.png" border="0" title="{% trans 'Mailbox aliases' %}"/>
      </a>
    </td>
    <td>{{ mb.name }}</td>
    <td>{{ mb.address }}@{{ mb.domain.name }}</td>
    <td>{{ mb.quota }} {% trans "MB" %}</td>
    <td>{{ mb.user.is_active|yesno:_("yes,no") }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}
