{% extends "admin/domains_header.html" %}
{% load i18n admin_extras %}
{% block pagetitle %}{% trans "Mailbox aliases" %}{% endblock %}
{% block subcontent %}
<div id="objects" name="mbaliases" rel="300 260">
  {% if not aliases %}
  <div class="info">{% trans "No mailbox alias defined." %}</div>
  {% else %}
  <table id="objects_table">
    <tr>
      <th>{% trans "Address" %}</th>
      <th>{% trans "Mailbox" %}</th>
      <th width="70px" class="center">{% trans "Enabled" %}</th>
      <th width="70px" class="center">{% trans "Actions" %}</th>
    </tr>
    {% for alias in aliases %}
    <tr class="{% cycle 'odd' 'even' %}" id="{{ alias.id }}">
      <td>{{ alias.full_address }}</td>
      <td>
	{% for mb in alias.mboxes.all %}
	{{ mb.full_address }}<br/>
	{% endfor %}
      </td>
      <td class="center">{{ alias.enabled|yesno }}</td>
      <td class="center">{% mbalias_actions user alias %}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
{% endblock %}
