{% extends "admin/adminform.html" %}
{% load i18n %}
{% block html_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/Autocompleter.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/dynamic_textinput.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/Observer.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/Autocompleter.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/Autocompleter.Request.js"></script>
<script type="text/javascript">
function init_form() {
    var dti = new DynamicTextInput($$("input[name=targets]"), {
        containerLevel: 2
    });

    new Autocompleter.Request.JSON("id_targets", 
                                   "{% url admin.views.mailboxes_search %}", {
        postVar: "search",
        minLength: 3,
        onComplete: ajax_login_redirect
    });
}

window.addEvent("domready", function() {
    register_error_callback("mbaliasform", init_form);
    init_form();
});
</script>
{% endblock %}
{% block extrafields %}
{% for t in targets %}
<div class="row">
  <label></label>
  <input type="text" name="targets" id="id_targets_{{ forloop.counter }}" value="{{ t }}" />
</div>
{% endfor %}
{% endblock %}
