{% extends "layout_simple.html" %}
{% load i18n %}
{% block html_head %}
<script src="{{ MEDIA_URL }}js/form.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="title"><h1>{% trans "New alias" %}</h1></div>
{% if error %}<div class="error">{{ error }}</div>{% endif %}
{% url admin.views.newalias domain as box_url %}
<form action="{{ box_url }}" method="POST" id="aliasform" name="aliasform">
  {% include "common/genericform.html" %}
  <div class="spacer"></div>
  <div class="lastrow" align="center">
    <input type="submit" name="submit" value="{% trans 'Create' %}" />
  </div>
</form>
{% endblock %}
