{% extends "nlayout.html" %}
{% load i18n libextras admin_extras %}
{% block html_head %}
<script src="{{ MEDIA_URL }}js/permissions.js" type="text/javascript"></script>
{% endblock %}
{% block middletitle %}{% trans "Permissions" %}{% endblock %}
{% block menu %}
{% permissions_menu user %}
{% endblock %}
{% block content %}
{% if messages %}
{% display_messages messages %}
{% endif %}
<div id="accordion">
  {% for table in permtables %}
  <h3 class="toggler atStart">{{ table.title }}</h3>
  <div class="element atStart" id="{{ table.id }}">
    {{ table.content }}
  </div>
  {% endfor %}
</div>
{% endblock %}
