#fixed_content { 
    padding: 0 15px;
}

#searchform {
    float: left;
    margin-right: 10px;
    margin-bottom: 0px;
}

#menubar { 
    clear: both;
}

#graphs {
    margin-top: 15px;
}

#period { 
}

#custom-period {
    margin-left: 10px;
}