{% extends "nlayout.html" %}
{% load i18n libextras sfilters_tags %}
{% block html_head %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/anchor_nav.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}sievefilters/js/lib.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}sievefilters/css/style.css" />
<script type="text/javascript">
var current_anchor = new AnchorNavigation("{{ active_script }}", {
    defcallback: loadfs
});

$(document).addEvent("domready", function() {
  $("curfset").addEvent("change", changefs);
});
</script>
{% endblock %}
{% block middletitle %}{% trans "Message filters" %}{% endblock %}
{% block menu %}
<div id="fsets_list">
  <label>{% trans "Filters sets" %}</label>
  <select id="curfset">
    {% if active_script %}
    <option value="{{ active_script }}">{{ active_script }} (active)</option>
    {% endif %}
    {% for script in scripts %}
    <option value="{{ script }}">{{ script }}</option>
    {% endfor %}
  </select>
</div>
<ul>{% sfilters_menu user %}</ul>
{% endblock %}
{% block content %}
{% if messages %}
  {% display_messages messages %}
{% endif %}
<div id="set_content">
  {% if not active_script and not scripts %}
  <div class="info">{% trans "No filters set defined yet. You must create one in order to define filters." %}</div>
  {% endif %}
</div>
{% endblock %}
