{% load i18n %}
{% blocktrans %}
<h1>Welcome to the online demo!</h1>
<p><b>Warning:</b> the demo's concent is resetted every two hours.</p>
<p>To try the demo, the following users are available (<i>username/password</i>): </p>
<ul>
  <li>A super administrator : <b>admin/password</b></li>
  <li>A domain administrator : <b>admin@demo.local/admin</b></li>
  <li>A simple user : <b>user@demo.local/user</b></li>
</ul>
<p>Please report any issue of give any suggestion to 
  <a href="https://groups.google.com/forum/#!forum/modoboa-users">the mailing list</a>.</p>
{% endblocktrans %}
