{% extends "nlayout.html" %}
{% load i18n limits_tags libextras %}
{% block html_head %}
<script src="{{ MEDIA_URL }}limits/js/resellers.js" type="text/javascript"></script>
<script type="text/javascript">
window.addEvent("domready", function() {
   new Resellers();
});
</script>
{% endblock %}
{% block middletitle %}{% trans "Available resellers" %}{% endblock %}
{% block menu %}{% resellers_menu user %} {% endblock %}
{% block content %}
{% if messages %}
{% display_messages messages %}
{% endif %}
<div id="resellers" name="resellers">
  {{ table|safe }}
</div>
{% endblock %}
{% block footer %}
<div id="navbar">
  {% if paginator.count %}
  <label>{% trans "Items" %} {{ page.start_index }} {% trans "to" %} {{ page.end_index }} {% trans "of" %} {{ paginator.count }}</label>
  {% endif %}
  {% if page.has_previous %}
  <a href="?page=1">
    <img src="{{ MEDIA_URL }}pics/first.png" border="0" title="{% trans "First" %}" />
  </a>
  <a href="?page={{ page.previous_page_number }}">
    <img src="{{ MEDIA_URL }}pics/back.png" border="0" title="{% trans "Previous" %}" />
  </a>
  {% endif %}
  {% if page.has_next %}
  <a href="?page={{ page.next_page_number }}">
    <img src="{{ MEDIA_URL }}pics/next.png" border="0" title="{% trans "Next" %}" />
  </a>
  <a href="?page={{ page.last_page }}">
    <img src="{{ MEDIA_URL }}pics/last.png" border="0" title="{% trans "Last" %}" />
  </a>
  {% endif %}
</div>
{% endblock %}
