{% load i18n %}
<div style="border:1px solid #dddddd;float:right;padding:3px;margin-top:-3px;">
  {% url extensions.stats.main.custom_period as c_stats_url %}
<form class="calendarForm" action="{{ c_stats_url }}" method="POST">
    {% trans "Start" %}: <input id="dateTravelStart" name="start" value="{{ start }}" type="text"/>
    {% trans "End" %}: <input id="dateTravelEnd" name="end" value="{{ end }}" type="text" />
    <input TYPE=SUBMIT VALUE="ok">
  </form>
</div>
<script type="text/javascript">
myCal = new Calendar(
  {
    dateTravelStart: 'D, Y/m/d',
    dateTravelEnd  : 'D, Y/m/d'
  },
  {
    direction: 0, // -1 past, 0 past + future, 1 future
    pad:1,
    offset: 1, // first day of the week: 0 = sunday, 1 = monday, etc..
    tweak: {x: -147, y: 18} // tweak calendar positioning
  });
</script>

<!--
   <form name="calendar">
     <textarea type="text" rows="0" cols="5">{{ sdate }}</textarea>
     <textarea type="text" rows="0" cols="5">{{ edate }}</textarea>
</select>
-->
