{% extends "admin/domain_header.html" %}
{% load i18n %}
{% block html_head %}
<script src="/static/js/mootools-more.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/static/stylesheets/box.css" />
<style type="text/css">
  #selectors {
    float: right;
  }
</style>

<script type="text/javascript">
window.addEvent("domready", function() {
  $("period").addEvent("change", function(event) {
    {% url extensions.stats.main.index domain.id as stats_url %}
    location.href = "{{ stats_url }}" + "?period=" + $("period").value;
  });
});
</script>
{% endblock %}

{% block menu %}
{% if domain %}
{% load admin_extras %}
{% domain_menu domain.id "stats" perms %}
{% endif %}
{% endblock %}
{% block domcontent %}
  <div id="selectors">
    <label for="period">{% trans "Period:" %}</label>
    <select id="period" name="period">
      {% for p in periods %}
      <option value="{{ p }}" {% ifequal p period %}selected{% endifequal %}>{{ p }}</option>
      {% endfor %}
    </select>
  </div>
  {% include "stats/graphs.html" %}
</div>
{% endblock %}
