{% load i18n admin_tags lib_tags %}
<table id="{{ tableid }}" class="table {{ styles }}">
  <thead>
    <tr>
      <th id="name" class="sortable" data-sort_order="name" width="">{% trans "Name" %}</th>
      <th id="aliases" width="">{% trans "Alias(es)" %}</th>
      <th id="tags" class="sortable" data-sort_order="tags" width="">{% trans "Tags" %}</th>
      <th id="actions" width="">{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for domain in domains %}
    <tr id="{{ domain.id }}" class="{% if not domain.enabled %}muted{% endif %}" name="{{ forloop.counter }}">
      <td name="name">{% domain_modify_link domain %}</td>
      <td name="aliases">{% domain_aliases domain %} </td>
      <td name="tags">{% render_tags domain.tags %}</td>
      <td name="actions">{% domain_actions user domain %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
