{% extends "admin/listing.html" %}{% load admin_tags lib_tags i18n %}{% load url from future %}
{% block pagetitle %}{% trans "Identities" %}{% endblock %}
{% block html_head %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/autocompleter.js"></script>
<script type="text/javascript">
function get_domains_list(container) {
    $.getJSON("{% url 'admin:domain_flat_list' %}", function(data) {
        container.value = data;
    });
}

function get_account_list(container) {
    $.getJSON("{% url 'admin:account_list' %}", function(data) {
        container.value = data;
    });
}

$(document).ready(function() {
    admin = new Identities();
});
</script>
{% extra_static_content "identities" user %}
{% endblock %}
{% block actions %}{% identities_menu user "identities" %}{% endblock %}
