{% extends "twocols.html" %}{% load i18n radicale_tags %}
{% block html_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/creation_wizard.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}radicale/js/radicale.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    radicale = new Radicale();
});
</script>
{% endblock %}
{% block leftcol %}<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">{% trans "Filter" %}</li>
    <li>{% include "admin/searchform.html" %}</li>
    <li id="taglist"></li>
    <li class="nav-header">{% trans "Actions" %}</li>
    {% radicale_left_menu user %}
  </ul>
</div>
{% endblock %}
{% block apparea %}{% load lib_tags %}
<table id="{{ tableid }}" class="table {{ styles }}">
  <thead>
    <tr>
      <th id="name" class="sortable" data-sort_order="identity" width="">{% trans "Name" %}</th>
      <th id="type">{% trans "Type" %}</th>
      <th id="url">{% trans "Address" %}</th>
      <th id="actions" width="">{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for cal in calendars %}
    <tr id="{{ cal.id }}" class="" name="{{ forloop.counter }}">
      <td name="name">{% calendar_modify_link cal %}</td>
      <td name="type">
        <span class="label label-info"><a href="#" class="filter">{{ cal.type }}</a></span>
      </td>
      <td name="url">{{ cal.url }}</td>
      <td name="actions">{% calendar_actions cal %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
