{% load i18n lib_tags radicale_tags %}
<table id="{{ tableid }}" class="table {{ styles }}">
  <thead>
    <tr>
      <th id="name" class="sortable" data-sort_order="name" width="">{% trans "Name" %}</th>
      {% if with_owner %}<th id="owner" class="sortable" data-sort_order="owner">{% trans "Owner" %}</th>{% endif %}
      <th id="tags">{% trans "Tags" %}</th>
      <th id="url">{% trans "Address" %}</th>
      <th id="actions" width="">{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for cal in calendars %}
    <tr id="{{ cal.id }}" class="" name="{{ forloop.counter }}">
      <td name="name">{% calendar_modify_link cal %}</td>
      {% if with_owner %}<td name="owner">{{ cal.owner }}</td>{% endif %}
      <td name="tags">{% render_tags cal.tags %}</td>
      <td name="url">{{ cal.url }}</td>
      <td name="actions">{% calendar_actions cal %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
