{% extends "twocols.html" %}{% load i18n radicale_tags %}
{% block html_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.sortable.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}radicale/css/radicale.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.sortable.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/history.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/creation_wizard.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/listing.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/autocompleter.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}radicale/js/jquery.dynamicrule.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}radicale/js/radicale.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    radicale = new Radicale({
        "username_list_url": "{% url 'usernames' %}"
    });
});
</script>
{% endblock %}
{% block leftcol %}<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">{% trans "Filter" %}</li>
    <li>{% include "admin/searchform.html" %}</li>
    <li class="nav-header">{% trans "Actions" %}</li>
    {% radicale_left_menu user %}
  </ul>
</div>
{% endblock %}
{% block apparea %}<div id="listing"></div>{% endblock %}
