{% load lib_tags radicale_tags %}
{% if error %}<div class="alert alert-error">{{ error }}</div>{% endif %}
<form action="{{ action }}" method="POST" id="{{ formid }}">
  {% csrf_token %}
  <div class="form-inline" id="original_row">
    {{ form.username }}
    <label class="checkbox">{{ form.read_access }} {{ form.read_access.label }}</label>
    <label class="checkbox">{{ form.write_access }} {{ form.write_access.label }}</label>
    <a href="#" class="addrule"><span class="glyphicon glyphicon-plus"></span></a>
  </div>
  {% render_rule_fields form %}
</form>
