#folders {
    float: left;
    width: 150px;
}

#folders2 {
    border: 1px solid #ccc;
    background-color: #eee;
    position: absolute;
    top: 100px;
    left: 20px;
    right: 20px;
    bottom: 40px;
    overflow-x: hidden;
    overflow-y: auto;
}

#fdcreate {
    position: absolute;
    top: 370px;
    left: 20px;
    right: 20px;
    text-align: center;
}

.box h3 {
    font-size: small;
    margin: 2px 0px 2px 0px;
    text-align: center;
}

.box ul {
    list-style: none;
    padding: 0 0 0 5px;
    margin: 0;
    background-color: #FFFFFF;
}

.box li ul {
    padding: 0 0 0 8px;
}

.box li {
    margin: 0;
    background-position: 2px 2px;
    position: relative;
}

.box li.selected {
    background-color: #FFFF77;
}

.box a:link, .box a:visited {
    color: black;
    text-decoration: none;
}

a.block {
    display: block;
    padding: 2px 10px 2px 30px;
}

.box a:hover { 
    color: #6AB0C5;
    text-decoration: none;
}

.box img {
    border: 0;
}

.box li.dragging {
    background-color: #6AB0C5;
}

img.aligned {
    float: left;
}

img.footer {
    float: left;
    margin-top: 10px;
    margin-left: 18px;
}

li.inbox {
    background-image: url("/static/pics/overview.png");
    background-repeat: no-repeat;
}

li.trash {
    background-image: url("/static/pics/trash.png");
    background-repeat: no-repeat;
}

li.folder {
    background-image: url("/static/pics/folder.png");
    background-repeat: no-repeat;
}

li.subfolders {
    background-image: url("/static/pics/folder.png");
    background-repeat: no-repeat;
}

ul.hidden {
    display: none;
}

ul.visible {
    display: block;
    padding-bottom: 0;
}

div.clickbox {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 14px;
    height: 14px;
}

div.collapsed {
    background-image: url("/static/pics/collapsed.png");
    background-repeat: no-repeat;
}

div.expanded {
    background-image: url("/static/pics/expanded.png");
    background-repeat: no-repeat;
}