#listing {
    position: absolute;
    left: 160px;
    right: 0px;
    top: 130px;
    height: expression(document.body.clientHeight - 35 + "px");
    overflow: auto;
}

html > body #listing {
    position: fixed;
    bottom: 35px;
}

.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   overflow: hidden;
   line-height: 0;
   height: 0;
}
 
.clearfix {
   display: inline-block;
}
 
html[xmlns] .clearfix {
   display: block;
}
 
* html .clearfix {
   height: 1%;
   overflow: visible;
}

/*thead tr {
  position: relative;
  top: expression(offsetParent.scrollTop);
  z-index: 1;
  padding: 0;
}*/

/*table#emails > tbody {
  position: fixed;
  bottom: 35px;
  top: 155px;
  left: 155px;
  right: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}*/

#emails th {
    /*position: relative;*/
}

#emails th input {
    margin: 0;
}

#emails tr {
    width: 100%;
    border-bottom: 1px solid #C8D6E8;
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Gecko (Firefox) */
    -khtml-user-select: none; /* Webkit (Safari, Chrome) */
}

.draggable {
    cursor: move;
    /*position: relative;*/
    border: 0;
}

.draggable img {
    position: static;
}

ul.hidden {
    display: none;
}

ul.visible {
    display: block;
    padding-bottom: 0;
}

/* Compose mail page */
#compose-container {
    position: absolute;
    left: 0px;
    right: 10px;
    top: 0;
    bottom: 0;
}

#attachments {
    position: relative;
    border: 1px solid #cccccc;
    background-color: #eee;
    margin: 10px 0 5px 0;
    padding: 5px 0;
    cursor: pointer;
    width: 100%;
}

#attachments img {
    float: left;
}

#list {
    position: absolute;
    top: 5px;
    left: 130px;
    font-weight: bold;
}

.shortlist {
    font-weight: normal !important;
    font-style: italic;
}

div.row {
    width: 100%;
    margin: 5px 0;
}

div.row label {
    width: 120px;
    font-size: small;
    padding: 3px 0;
}

div.input_container {
    position: static;
    margin-left: 130px;
}

textarea {
    border: 1px solid #cccccc;
    background-color: #eee;
    width: 100%;
    height: 40px;
    word-wrap: break-word;
    resize: none;
    padding: 2px 0;
}

textarea:hover {
    background-color: #ffffcc;
}

#body_container {
    position: absolute;
    top: 205px;
    left: 0;
    right: 0px;
    bottom: 15px;
}

#id_body {
    background: white;
    width: 100%;
    height: 100%;
}

#mailheader input {
    width: 100%;
    padding: 2px 0;
}

#mailheader {
    position: relative;
    padding-bottom: 5px;
}

/* Progress bar */
#quotalabel {
    float: left;
    padding: 7px 2px 0 5px;
    display: none;
}

#quotabox {
    display: none;
    float: left;
    margin: 5px;
    width: 300px;
    padding: 0;
}

#box { 
    /*border: 1px solid #ccc; */
    width: 200px;
    background: url(../../pics/progressbar_bg.gif) right center no-repeat;
    height: 19px;
    float: left;
}

#perc { 
    background: url(../../pics/progressbar.gif) right center no-repeat;
    height: 19px; 
}

#quotatext { 
    padding: 2px 0 0 2px;
    float: left;
}

#fdmenu { border:1px solid #999; padding:0; background:#eee; width:150px; display:none; }
#fdmenu .separator { border-top:1px solid #999; }
#fdmenu ul { list-style-type:none; margin:0; padding:0; }
#fdmenu li { margin:0; padding:0; }
#fdmenu li a { display:block; padding:5px 10px 5px 5px; font-size:12px; text-decoration:none; font-family:tahoma,arial,sans-serif; color:#000; }
#fdmenu li a:hover { background-color:#ddd; }
#fdmenu img { float:left; margin: 0 5px 0 0; }

.folder_menu {
    float: right;
    opacity: 0.8;
}

.folder_btn {
    float: right;
    margin: 3px;
}

.folder_menubar {
    clear: both;
}

.dragbox {
    position : absolute;
    opacity : 0.8;
    width : 200px;
    padding : 5px;
    text-align : center;
    height : 25px;
    border : 1px solid #333;
    background : white;
    display: none;
    z-index : 3;
}