body, html {
    overflow: hidden; 
    height: 100%;
}

#folders {
    position: fixed;
    top: 60px;
    left: 15px;
    width: 200px;
    overflow-y: auto;
    margin-bottom: 5px;
}

#mboxes_container { 
    overflow: auto;
}

#menubar { 
    position: fixed;
    left: 215px;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
}

#listing { 
    position: fixed;
    left: 215px;
    right: 0;
    padding-left: 15px;
}

#mailcontent {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.unseen { 
    font-weight: bold;
}

td[name="date"] { 
    text-align: right;
}

#quotabar { 
    margin: 12px 0 0 15px;
    width: 200px;
}

#quotaraw { 
    margin-left: 10px;
}

/*
 * Mailboxes list
 */
#mboxactions { 
    position: fixed;
    padding-left: 14px;
}

#mboxactions .btn-toolbar { 
    margin-bottom: 0px;
}

#folders li { 
    position: relative;
}

div.clickbox {
    position: absolute;
    left: 0px;
    top: 2px;
    width: 14px;
    height: 14px;
}

div.collapsed {
    background-image: url("/static/pics/collapsed.png");
    background-repeat: no-repeat;
}

div.expanded {
    background-image: url("/static/pics/expanded.png");
    background-repeat: no-repeat;
}

/*
 * Compose form
 */
#mailheader {
    position: relative;
    padding-bottom: 5px;
}

#mailheader input { 
    width: 99%;
    padding: 2px 0;
}

#mailheader textarea { 
    width: 99%;
    height: 40px;
    padding: 2px 0;
}

#mailheader label { 
    text-align: left;
}

#mailheader .options {
    margin-left: 160px;
}

#add_cc {
    margin-right: 20px;
}

#attachments {
    position: relative;
    margin: 1px 0 5px 0;
    padding: 5px 0;
    cursor: pointer;
    width: 100%;
}

#attachments img {
    float: left;
}

#list {
    position: absolute;
    top: 5px;
    left: 160px;
    font-weight: bold;
}

#body_container {
    position: absolute;
    left: 15px;
    right: 0px;
    bottom: 15px;
}

#id_body {
    width: 99%;
    height: 100%;
}

/*
 * Attachments form
 */
#submit { 
    margin: 0 auto;
}

#attachment_list {
    margin-top: 20px;
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2px;
}

#attachment_list i,
#attachment_list label { 
    float: left;
}

.shortlist {
    font-weight: normal !important;
    font-style: italic;
}

/*
 * Drap & Drop
 */
.dragbox {
    padding : 5px;
    text-align : center;
    background : white;
    z-index : 3;
}

/*
 * Folder form
 */
.modal-body { 
    max-height: 300px;
    overflow-y: auto;
}

#folders2 li { 
    position: relative;
}