#listing {
    position: absolute;
    left: 155px;
    right: 0px;
    top: 130px;
    height: expression(document.body.clientHeight - 35 + "px");
    overflow: auto;
}

html > body #listing {
    position: fixed;
    bottom: 35px;
}

/*thead tr {
  position: relative;
  top: expression(offsetParent.scrollTop);
  z-index: 1;
  padding: 0;
}*/

/*table#emails > tbody {
  position: fixed;
  bottom: 35px;
  top: 155px;
  left: 155px;
  right: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}*/

#emails th {
    /*position: relative;*/
}

#emails th input {
    margin: 0;
}

#emails tr {
    width: 100%;
    border-bottom: 1px solid #C8D6E8;
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Gecko (Firefox) */
    -khtml-user-select: none; /* Webkit (Safari, Chrome) */
}

th[class*=sortable] {
    cursor: pointer;
/*-moz-box-shadow: 0px -15px 10px -10px rgba(0,0,0,0.6) inset;
  -webkit-box-shadow: 0px -15px 10px -10px rgba(0,0,0,0.6) inset;*/
}

th.selected {
    background: #EEEEEE;
}

.draggable {
    cursor: move;
    /*position: relative;*/
    border: 0;
}

.draggable img {
    position: static;
}

ul.hidden {
    display: none;
}

ul.visible {
    display: block;
    padding-bottom: 0;
}

/* Compose mail page */
#compose-container {
    margin: 0 auto;
    width: 100%;
}

div.row {
    margin: 3px;
    clear: both;
}

div.row label {
    float: left;
    width: 120px;
    font-size: small;
    padding: 3px 0;
}

textarea {
    border: 1px solid #cccccc;
    background-color: #eee;
    width: 80%;
    height: 30px;
    word-wrap: break-word;
}

textarea:hover {
    background-color: #ffffcc;
}

#id_body {
    background: white;
    width: 98%;
}

#mailheader input {
    width: 80%;
    padding: 0;
}

#mailheader {
    padding-bottom: 5px;
}

/* Progress bar */
#footer {
    color: white;
    font-weight: bold;
    font-size: 1em;
}

#quotalabel {
    float: left;
    padding: 7px 2px 0 5px;
    display: none;
}

#quotabox {
    display: none;
    float: left;
    margin: 5px;
    width: 300px;
    padding: 0;
}

#box { 
    /*border: 1px solid #ccc; */
    width: 200px;
    background: url(../../pics/progressbar_bg.gif) right center no-repeat;
    height: 19px;
    float: left;
}

#perc { 
    background: url(../../pics/progressbar.gif) right center no-repeat;
    height: 19px; 
}

#quotatext { 
    padding: 2px 0 0 2px;
    float: left;
}

#fdmenu { border:1px solid #999; padding:0; background:#eee; width:150px; display:none; }
#fdmenu .separator { border-top:1px solid #999; }
#fdmenu ul { list-style-type:none; margin:0; padding:0; }
#fdmenu li { margin:0; padding:0; }
#fdmenu li a { display:block; padding:5px 10px 5px 5px; font-size:12px; text-decoration:none; font-family:tahoma,arial,sans-serif; color:#000; }
#fdmenu li a:hover { background-color:#ddd; }
#fdmenu img { float:left; margin: 0 5px 0 0; }

.folder_menu {
    float: right;
    opacity: 0.8;
}

.folder_btn {
    float: right;
    margin: 3px;
}

.folder_menubar {
    clear: both;
}
