{% load i18n %}
<div id="searchbox">
  <img src="/static/pics/search.png" id="searchopts" />
  <input type="text" name="searchfield" id="searchfield" value="{% trans "Search..." %}" />
  <div id="searchparams">
    <input type="radio" name="scriteria" value="from_addr" checked>{% trans "From address" %}<br/>
    <input type="radio" name="scriteria" value="subject">{% trans "Subject" %}<br/>
    <input type="radio" name="scriteria" value="from_addr,subject">{% trans "Both" %}<br/>
  </div>
</div>
