{% extends "nlayout.html" %}
{% load i18n %}
{% block html_head %}
<style type="text/css">
#listing {
  position: absolute;
  left: 155px;
  right: 0px;
  top: 130px;
  height: expression(document.body.clientHeight - 35 + "px");
  overflow: auto;
}

html > body #listing {
  position: fixed;
  bottom: 35px;
}

#navbar {
  float: right;
  padding: 0;
  margin: 0;
  text-align: right;
}

#navbar label {
  color: white;
  margin-right: 5px;
  font-weight: bold;
}

#navbar img{
  margin-top: 5px;
  margin-right: 5px;
}
{% block css %}{% endblock %}
</style>
<script type="text/javascript">
window.addEvent("domready", function() {
  if ($("selectall")) {
    $("selectall").addEvent("click", function(event) {
      if ($("selectall").checked) {
        toggleSelection("selection", true);
      } else {
        toggleSelection("selection", false);
      }
    });
  }
  {% block js %}{% endblock %}
});
</script>
{% endblock %}
{% block content %}
{% block leftcol %}{% endblock %}
<div id="listing">{{ listing }}</div>
<div class="spacer"></div>
{% endblock %}
{% block footer %}<div id="navbar"></div>{% endblock %}

