{% extends "nlayout.html" %}
{% load i18n %}
{% load libextras %}
{% block html_head %}
<link rel="stylesheet" type="text/css" href="/static/css/searchbar.css" />
{% block css %}{% endblock %}
<style type="text/css">
#navbar {
  float: right;
  padding: 0;
  margin: 0;
  text-align: right;
}

#navbar label {
  color: white;
  margin-right: 5px;
  font-weight: bold;
}

#navbar img{
  margin-top: 5px;
  margin-right: 5px;
}
</style>

<script type="text/javascript">
window.addEvent("domready", function() {
  navparams = new Hash({
    {% join navparams %}
  });

  navbarcallback = function(event) {
    event.stop();
    current_anchor.setparams(navparams);
    current_anchor.parse_string($(event.target).getParent().get("href")).update();
  }

  viewmail = function(event) {
    event.stop();
    if (event.target.parentNode.id) {
      var url = event.target.parentNode.id;
      event.target.parentNode.setStyle("background", "#ffffcc");
      {% if reset_wm_url %} 
      current_anchor.baseurl(url).update();
      {% else %}
      current_anchor.addbaseurl(url).update();
      {% endif %}
    }
  }

  updatelisting = function(resp) {
    if ($defined(resp.menu)) {
      $("menubar").set("html", resp.menu);
      parse_menubar("menubar");
    }
    if ($defined(resp.listing)) {
      $("listing").set("html", resp.listing);
    }
    if ($defined(resp.navbar)) {
      $("navbar").set("html", resp.navbar);
      $("navbar").getChildren("a").addEvent("click", navbarcallback);
    }
  }
  {% block js %}{% endblock %}
  ajaxListener("{{ deflocation }}", {{ defcallback }});
});
</script>
{% endblock %}
{% block content %}
{% block leftcol %}{% endblock %}
<div id="listing">{{ listing }}</div>
<div class="spacer"></div>
{% endblock %}
{% block footer %}<div id="navbar">{{ navbar }}</div>{% endblock %}

