{% load i18n %}
{% for field in form.hidden_fields %}
{{ field }}
{% endfor %}
{% for field in form.visible_fields %}
<div class="row clearfix">
  {% if field.help_text %}
  <div id="{{ field.name }}_helptext" class="tip">
    <div class="tip-title">{% trans "Help" %}</div>
    <div class="tip-text">{% trans field.help_text %}</div>
  </div>
  {% endif %}
  <label for="id_{{ field.html_name }}">{% trans field.label %}</label><div class="input_container clearfix {% if field.errors %}missing{% endif %}"> {{ field }}</div> {% ifequal noerrors False %}{{ field.errors }}{% endifequal %}
</div>
{% endfor %}
