{% load i18n %}
{% for entry in entries %}
  {% if entry.separator %}
  <li class="separator">&nbsp;</li>
  {% else %}
    {% if entry.menu %}
  <li class="dropdown {{ entry.class }}{% if selection == entry.name %} selected{% endif %}">
    <img src="{{ entry.img }}" border="0" />
    {% if entry.url %}<a href="{{ entry.url }}">{% endif %}
    <label>{{ entry.label }}</label>
    {% if entry.url %}</a>{% endif %}
    <ul class="links"
        {% if entry.width %}style="width: {{ entry.width }}px"{% endif %}>
      {% for sentry in entry.menu %}
      <li>
        <a href="{{ sentry.url }}" name="{{ sentry.name }}"
           {% if sentry.class %}class={{ sentry.class }}{% endif %}
           {% if sentry.rel %}rel={{ sentry.rel }}{% endif %}
           {% if sentry.confirm %} onclick="return confirm('{{ sentry.confirm }}')"{% endif %}>
          {% if sentry.img %}<img src="{{ sentry.img }}" border="0" alt="" />{% endif %}
          {{ sentry.label }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </li>
    {% else %}
  <li {% if selection == entry.name %}class="selected"{% endif %}>
    {% if not entry.disabled %}
    <a href="{{ entry.url }}" name="{{ entry.name }}"
       {% if entry.class %}class={{ entry.class }}{% endif %}
       {% if entry.rel %}rel={{ entry.rel }}{% endif %}
       {% if entry.confirm %} onclick="return confirm('{{ entry.confirm }}')"{% endif %}>
    {% endif %}
      {% if entry.img %}<img src="{{ entry.img }}" alt="" />{% endif %}
      {{ entry.label }}
    {% if not entry.disabled %}</a>{% endif %}
  </li>
    {% endif %}
  {% endif %}
{% endfor %}
