{% load i18n %}
<label>Messages {{ page.id_start }} {% trans "to" %} {{ page.id_stop }} {% trans "of" %} {{ page.items }}</label>
  
{% if page.previous_page %}
<a href="?page=1">
  <img src="/static/pics/first.png" border="0" title="{% trans "First" %}" />
</a>
<a href="?page={{ page.previous_page }}">
  <img src="/static/pics/back.png" border="0" title="{% trans "Previous" %}" />
</a>
{% endif %}
{% if page.next_page %}
<a href="?page={{ page.next_page }}">
  <img src="/static/pics/next.png" border="0" title="{% trans "Next" %}" />
</a>
<a href="?page={{ page.last_page }}">
  <img src="/static/pics/last.png" border="0" title="{% trans "Last" %}" />
</a>
{% endif %}
