{% extends "common/generic_modal.html" %}
{% load i18n libextras %}
{% block modalbody %}
  <form class="form-horizontal" action="{{ action }}" method="POST">
    <ul class="nav nav-pills">
      {% for tab in tabs %}
      <li class="{% if tabs.active_id == tab.id %}active{% endif %}">
        <a href="#{{ tab.id }}" data-toggle="tab">{{ tab.title }}</a>
      </li>
      {% endfor %}
    </ul>
    <div class="tab-content">
      {% for tab in tabs %}
      <div class="tab-pane{% if tabs.active_id == tab.id %} active{% endif %}" id="{{ tab.id }}">
        {% if tab.formtpl %}
        {% render_form tab.instance tab.formtpl %}
        {% else %}
        {% render_form tab.instance %}
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </form>
{% endblock %}
