{% load i18n %}
{% load main_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://www.w3.org/2005/10/profile">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>MailNG - {%block pagetitle %}{% endblock %}</title>
  <link rel="icon" type="image/png" href="/static/stylesheets/logo-icon.png" />
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/default.css" />
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/SqueezeBox.css" />
  <script src="/static/js/mootools.js" type="text/javascript"></script>
  <script src="/static/js/mootools-more.js" type="text/javascript"></script>
  <script src="/static/js/SqueezeBox.js" type="text/javascript"></script>
  <script src="/static/js/common.js" type="text/javascript"></script>
  {% url django.views.i18n.javascript_catalog as catalog_url %}
  <script type="text/javascript" src="{{ catalog_url }}"></script>
  {%block html_head %}{% endblock %}
</head>

<body>
  <div id="topmenubar" class="menubar">
    <div class="left">
      <ul>
        <li>
          {% url main.views.index as index_url %}
          <a href="{{ index_url }}">
          <img src="/static/pics/user.png" border="0" />{% trans "Preferences" %}</a>
        </li>
        {% loadextmenu perms %}
        {% if user.is_superuser or perms.admin.view_domains %}
        <li class="dropdown">
          <img src="/static/pics/settings.png" border="0" />
          <label>{% trans "Admin" %}</label>
          <ul class="links">
            {% url admin.views.domains as dom_url %}
            <a href="{{ dom_url }}">
            <li><img src="/static/pics/domains.png" />{% trans "Domains" %}</li>
            </a>
            {% url admin.views.settings as settings_url %}
            <a href="{{ settings_url }}">
              <li>
                <img src="/static/pics/settings.png" border="0"/>
                {% trans "Settings" %}
              </li>
            </a>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="right">
      <ul>
        <li class="title">
          {% if user.first_name %}
          {{ user.first_name }} {{ user.last_name }}
          {% else %}
          {{ user.username }}
          {% endif %}
          / 
        </li>

        <li>
          {% url django.contrib.auth.views.logout_then_login as logout_url %}
          <a href="{{ logout_url }}">
            <img src="/static/pics/logout.png" border="0" />{% trans "Logout" %}</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="page">
    <div id="header">
      <img class="logo" src="/static/stylesheets/mailng.png" />
      <h1>{% block middletitle %}{% endblock %}</h1>
      <div id="menubar" class="menubar">
        {% block menu %}{% endblock %}
      </div>
    </div>
    <div class="spacer"></div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </div>

<!--  <div id="header">
    <img class="logo" src="/static/stylesheets/mailng.png" />
    <div id="infos">
      {% if messages %}
      {% for m in messages %}{{ m }}{% endfor %}
      {% endif %}
    </div>

   
  </div>
-->
</body>
</html>
