<!DOCTYPE html>
{% load i18n admin_extras uprefs_extras libextras %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Modoboa - {% block pagetitle %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ MEDIA_URL }}css/logo-icon.png" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/custom.css" />
    <script src="{{ MEDIA_URL }}js/jquery.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/utils.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/common.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/confirmation.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/notify.js" type="text/javascript"></script>
    {% url django.views.i18n.javascript_catalog as catalog_url %}
    <script type="text/javascript" src="{{ catalog_url }}"></script>
    <script type="text/javascript">
      set_media_url("{{ MEDIA_URL }}");
    </script>
    {% block html_head %}{% endblock %}
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="nav-collapse">
            <ul class="nav">{% if selection %}
              {% loadextmenu selection user %}{% admin_menu selection user %}
              {% else %}{% loadextmenu "" user %}{% admin_menu "" user %}{% endif %}
              {% load_optionalmenu user %}
            </ul>
            <ul class="nav pull-right">
              {% user_menu user %}
            </ul>
          </div>
        </div>
      </div>
    </div>    
    {% block content %}{% endblock %}
    <div id="bottom-bar" class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="row">
          <div id="bottom-bar-left" class="pull-left">
            {% block footerleft %}{% endblock %}
          </div>
          <div id="bottom-bar-middle" class="">
            {% block footermiddle %}{% endblock %}
          </div>
          <div id="bottom-bar-right" class="pull-right nav-collapse">
            {% block footerright %}{% endblock %}
          </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
