<!DOCTYPE html>{% load i18n admin_extras uprefs_extras libextras %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <title>{% block pagetitle %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}css/logo-icon.png" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom.css" />
    <script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js" type="text/javascript"></script>
    {% if LANGUAGE_CODE != "en" %}<script src="{{ STATIC_URL }}js/locales/bootstrap-datepicker.{{ LANGUAGE_CODE }}.js" type="text/javascript"></script>{% endif %}
    <script src="{{ STATIC_URL }}js/global.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/confirmation.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/notify.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/poller.js" type="text/javascript"></script>
    {% url django.views.i18n.javascript_catalog as catalog_url %}
    <script type="text/javascript" src="{{ catalog_url }}"></script>
    <script type="text/javascript">
      set_static_url("{{ STATIC_URL }}");
    </script>
    {% extra_head_content user %}
    {% block html_head %}{% endblock %}
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="nav-collapse">
            <ul class="nav">{% if selection %}
              {% loadextmenu selection user %}{% admin_menu selection user %}
              {% else %}{% loadextmenu "" user %}{% admin_menu "" user %}{% endif %}
              {% load_optionalmenu user %}
            </ul>
            <ul class="nav pull-right">
              {% if selection %}{% user_menu user selection %}{% else %}{% user_menu user "" %}{% endif %}
            </ul>
            <div class="pull-right">{% load_notifications user %}</div>
          </div>
        </div>
      </div>
    </div>    
    {% block content %}{% endblock %}
    <div id="bottom-bar" class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="row-fluid">
          <div id="bottom-bar-left" class="pull-left">
            {% block footerleft %}{% endblock %}
          </div>
          <div id="bottom-bar-middle" class="">
            {% block footermiddle %}{% endblock %}
          </div>
          <div id="bottom-bar-right" class="pull-right nav-collapse">
            {% block footerright %}{% endblock %}
          </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
