<!DOCTYPE html>{% load i18n core_tags lib_tags %}{% load url from future %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pagetitle %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}css/logo-icon.png" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-select.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom.css" />
    <script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-select.min.js" type="text/javascript"></script>
    {% if LANGUAGE_CODE != "en" %}<script src="{{ STATIC_URL }}js/locales/bootstrap-datetimepicker.{{ LANGUAGE_CODE }}.js" type="text/javascript"></script>{% endif %}
    <script src="{{ STATIC_URL }}js/global.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/csrf.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/confirmation.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/notify.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/poller.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/top_notifications.js" type="text/javascript"></script>
    {% url "django.views.i18n.javascript_catalog" as catalog_url %}
    <script type="text/javascript" src="{{ catalog_url }}"></script>
    <script type="text/javascript">
      var top_notifications;

      set_static_url("{{ STATIC_URL }}");
      $(document).ready(function() {
          top_notifications = new TopNotifications({
              url: "{% url 'check_top_notifications' %}",
              interval: {{ notifications_check_interval }}
          });
      });
    </script>
    {% extra_static_content "top" user %}
    {% block html_head %}{% endblock %}
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle" data-target="#navigate-navbar-collapse" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="">{% trans "Menu" %}</span>
          </button>
        </div>

        <div id="pagination-responsive" class="pull-right">

        </div>

        <div id="navigate-navbar-collapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav display-less-1198">
            <li class="droppable active ui-droppable" name="INBOX">
              <a class="block" name="loadfolder" href="INBOX">
                <i class="glyphicon glyphicon-inbox"></i>
                INBOX
              </a>
            </li>
            <li class="droppable ui-droppable" name="Drafts">
              <a class="block" name="loadfolder" href="Drafts">
                <i class="glyphicon glyphicon-file"></i>
                Drafts
              </a>
            </li>
            <li class="droppable ui-droppable" name="Junk">
              <a class="block" name="loadfolder" href="Junk">
                <i class="glyphicon glyphicon-fire"></i>
                Junk
              </a>
            </li>
            <li class="droppable ui-droppable" name="Sent">
              <a class="block" name="loadfolder" href="Sent">
                <i class="glyphicon glyphicon-envelope"></i>
                Sent
              </a>
            </li>
            <li class="droppable ui-droppable" name="Trash">
              <a class="block" name="loadfolder" href="Trash">
                <i class="glyphicon glyphicon-trash"></i>
                Trash
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav display-up-1198-webmail">{% if selection %}
            {% extensions_menu selection user %}{% core_menu selection user %}
            {% else %}{% extensions_menu "" user %}{% core_menu "" user %}{% endif %}
            {% load_optionalmenu user %}
            <li class="divider"></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if selection %}{% user_menu user selection %}{% else %}{% user_menu user "" %}{% endif %}
          </ul>
          <div class="pull-right">{% include "common/top_notifications.html" %}</div>
        </div>
      </div>
    </div>
    {% block content %}{% endblock %}
    <!--<div id="bottom-bar" class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <div id="bottom-bar-left" class="col-lg-4 col-md-4 col-sm-4 col-xs-0">
          {% block footerleft %}{% endblock %}
        </div>
        <div id="bottom-bar-middle" class="col-lg-4 col-md-4 col-sm-4 col-xs-0 col-xs-offset-0">
          <p class="navbar-text"><i>{% trans "Powered by Modoboa" %}</i></p>
          {% block footermiddle %}{% endblock %}
        </div>
        <div id="bottom-bar-right" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          {% block footerright %}{% endblock %}
        </div>
      </div>
    </div>-->

  </body>
</html>
