{% load i18n %}

<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
      <h3 class="modal-title">{% blocktrans trimmed with domain=domain.name %}DKIM public key for {{ domain }}{% endblocktrans %}</h3>
    </div>
    <div class="modal-body">
      <div class="alert alert-info" style="overflow-wrap: break-word;">
        <strong>{% trans "Raw format. Click to copy" %}</strong><br>
        <button onclick="copy(`copy_raw_dkim_key`)" class="dkimbutton" id="copy_raw_dkim_key"><pre class="dkim">{{ domain.dkim_public_key }}</pre></button>
      </div>
      <div class="alert alert-info" style="overflow-wrap: break-word;">
        <strong>{% trans "Bind/named format. Click to copy" %}</strong><br>
        <button onclick="copy(`copy_dns_dkim_key`)" class="dkimbutton" id="copy_dns_dkim_key"><pre class="dkim">{{ domain.bind_format_dkim_public_key }}</pre></button>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</a>
    </div>
  </div>
</div>
