{% extends "admin/listing.html" %}{% load i18n admin_extras libextras %}
{% block pagetitle %}{% trans "Domains" %}{% endblock %}
{% block html_head %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
        $("a[name=deldomain]").confirm({
            question: gettext("Delete this domain?"),
            checkboxes: {keepdir: gettext("Do not delete domain directory")}
        });
        $("#searchquery").focus(function() {
            $(this).attr("value", "");
        }).blur(function() {
            var $this = $(this);
            if ($this.attr("value") == "") {
                $this.attr("value", gettext("Search"));
            }
        });
    });
  </script>
{% endblock %}
{% block leftcol %}<div class="well sidebar-nav">
<li class="nav-header">
  {% trans "Filter" %}
</li>{% include "admin/searchform.html" %}
<li class="nav-header">
  {% trans "Actions" %}
</li>{% domains_menu "domains" user %}
</div>{{ block.super }}{% endblock %}
