{% extends "admin/listing.html" %}{% load admin_extras libextras i18n %}{% load url from future %}
{% block pagetitle %}{% trans "Identities" %}{% endblock %}
{% block html_head %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/autocompleter.js"></script>
<script type="text/javascript">
function get_domains_list(container) {
    $.getJSON("{% url 'modoboa.admin.views.domains_list' %}", function(data) {
        container.value = data;
    });
}

function get_account_list(container) {
    $.getJSON("{% url 'modoboa.admin.views.accounts_list' %}", function(data) {
        container.value = data;
    });
}

function get_allowed_recipients(container) {
    $.getJSON("{% url 'modoboa.admin.views.allowed_recipients_list' %}", function(data) {
        container.value = data;
    });
}

$(document).ready(function() {
    admin = new Identities();
});
</script>
{% endblock %}
{% block actions %}{% identities_menu user %}{% endblock %}
