{% load i18n lib_tags static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modoboa</title>
    {% if not debug %}
      {% render_bundle 'app' 'css' 'ADMIN' %}
    {% endif %}
  </head>
  <body>
    <div id="app"></div>
    
    {% if not debug %}
      {% render_bundle 'manifest' 'js' 'ADMIN' %}
      {% render_bundle 'vendor' 'js' 'ADMIN' %}
      {% render_bundle 'app' 'js' 'ADMIN' %}
    {% else %}
      {% render_bundle 'app' 'js' 'ADMIN' %}
    {% endif %}
  </body>
</html>
