{% extends "admin/header.html" %}{% load i18n admin_extras libextras %}
{% block html_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.sortable.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/creation_wizard.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dynamic_input.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.sortable.js"></script>
<script type="text/javascript">
var admin;
</script>
{% endblock %}
{% block leftcol %}<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">{% trans "Filter" %}</li>
    <li>{% include "admin/searchform.html" %}</li>
    <li id="taglist"></li>
    <li class="nav-header">{% trans "Actions" %}</li>
    {% block actions %}{% endblock %}
  </ul>
</div>
{% get_extra_admin_content user "leftcol" selection %}
{% endblock %}
{% block apparea %}<div id="listing"></div>{% endblock %}
{% block footerright %}{% endblock %}
