{% extends "twocols.html" %}
{% load i18n libextras admin_extras %}
{% block pagetitle %}{% trans "Modoboa settings" %}{% endblock %}
{% block html_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/history.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/twocols_nav.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var settings = new TwocolsNav({
        deflocation: "parameters/",
        formid: "settings_form",
        divid: "settings_content",
        reload_exceptions: ["extensions"]
    });
});
</script>
{% endblock %}
{% block leftcol %}<div class="well sidebar-nav">{% settings_menu left_selection user %}</div>{% endblock %}
{% block apparea %}<div id="settings_content"></div>{% endblock %}
