{% extends "fluid.html" %}

{% load i18n %}

{% block container_content %}

  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
      <h1>{% blocktrans with user=user.fullname trimmed %}Hello {{ user }}.{% endblocktrans %}</h1>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">{% trans "Latest news" %}</h3>
            </div>
            <table class="table">
              <tbody>
                {% for post in news %}
                  <tr>
                    <td><a href="{{ post.link }}" target="_blank">{{ post.title }}</a></td>
                    <td class="text-right">{{ post.published|date:"DATE_FORMAT" }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            <div class="panel-body text-center">
              {% blocktrans trimmed %}
                Visit the <a href="https://modoboa.org/blog/" target="_blank">official weblog</a> for more information.
              {% endblocktrans %}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock container_content %}
