{% load i18n %}
{% load url from future %}

<h2>{% trans "Extensions" %} <small>{% trans "The extension(s) you are using" %}</small></h2><hr />
<table id="extensions" class="table table-hover">
  <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Version" %}</th>
      <th>{% trans "Description" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for extension in extensions %}
    <tr>
      <td>{{ extension.label }}</td>
      <td>{{ extension.version }}</td>
      <td>{{ extension.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
