{% load i18n core_tags lib_tags %}
<h2>{% trans "Information" %} <small>{% trans "Various information about Modoboa" %}</small></h2><hr>
{% if password_hasher %}
  <div class="alert alert-block alert-warning">
    <h4>{% trans "You are using a deprecated password scheme!" %}</h4>
    <p>{% blocktranslate trimmed %}
      The password scheme <strong>{{ scheme }}</strong> has been
      deprecated and will be removed in the next minor version. The procedure to upgrade to a stronger scheme is as follows:
      <ul>
        <li>Go to <strong>Parameters > General</strong> section</li>
        <li>Change the value of <strong>Default password scheme</strong></li>
        <li>Make sure <strong>Update password scheme at login</strong> option is enabled</li>
        <li>Save your changes</li>
        <li>Logout / Login with your current account so its password gets updated</li>
        <li>Inform <strong>ALL</strong> your users that they must login to Modoboa to complete the operation</li>
      </ul>
    {% endblocktranslate %}</p>
    <p>{% blocktranslate trimmed %}
      You must apply this procedure <strong>BEFORE</strong> you install a newest
      version of Modoboa, otherwise <strong>you will be unable to connect to
      the web interface anymore</strong>.
    {% endblocktranslate %}</p>
    <p>{% blocktranslate trimmed %}Please note that you will see this message until <strong>ALL</strong> user passwords have been converted using the new scheme.{% endblocktranslate %}</p>
  </div>
{% endif %}
{% if update_avail %}
<div class="alert alert-block alert-success">
  <h4>{% trans "One or more updates are available!" %}</h4>
  <p>{% trans "Check the following list to find the component(s) that can be updated." %}</p>
</div>
{% endif %}

<h3>{% trans "Applications" %}</h3>
<table id="extensions" class="table table-hover">
  <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Installed version" %}</th>
      <th>{% trans "Last version" %}</th>
      <th>{% trans "Description" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for extension in extensions %}
    <tr{% if extension.update %} class="success"{% endif %}>
      <td>{{ extension.label }}</td>
      <td>{{ extension.version }}</td>
      <td>{% if extension.update %}<strong>{% if extension.changelog_url %}<a href="{{ extension.changelog_url }}">{{ extension.last_version }}</a>{% else %}{{ extension.last_version }}{% endif %}</strong>{% else %}{{ extension.last_version }}{% endif %}</td>
      <td>{{ extension.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>{% trans "Active users" %}</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Role" %}</th>
      <th>{% trans "Last login" %}</th>
    </tr>
  </thead>
  <tbody>
    {% connected_users as users %}{% for u in users %}
    <tr>
      <td>{{ u.username }}</td>
      <td>{{ u.role }}</td>
      <td>{{ u.last_login }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
