{% extends "twocols.html" %}
{% load i18n lib_tags core_tags %}
{% block pagetitle %}{% trans "Modoboa settings" %}{% endblock %}
{% block html_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/settings.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.sortable.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.infinitescroll.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/history.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/listing.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/twocols_nav.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.sortable.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}core/js/settings.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var settings = new Settings({
        deflocation: "parameters/",
        formid: "settings_form",
        divid: "settings_content",
        reload_exceptions: ["extensions"],
        load_page_url: "{% url 'core:logs_page' %}"
    });
});
</script>
{% endblock %}
{% block leftcol %}{% admin_menu left_selection user %}{% endblock %}
{% block apparea %}<div id="settings_content"></div>{% endblock %}
