{% extends "twocols.html" %}{% load i18n core_tags libextras %}
{% block pagetitle %}{% trans "Settings" %}{% endblock %}
{% block html_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}userprefs/css/userprefs.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/history.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/listing.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/twocols_nav.js"></script>
<script type="text/javascript">
{{ extrajs|safe }}
$(document).ready(function() {
    var userprefs = new TwocolsNav({
        deflocation: "profile/",
        formid: "uprefs_form",
        divid: "uprefs_content",
        reload_exceptions: ["profile"]
    });
});
</script>
{% endblock %}
{% block leftcol %}<div class="well sidebar-nav">{% uprefs_menu left_selection user %}</div>{% endblock %}
{% block apparea %}<div id="uprefs_content"></div>{% endblock %}
