{% load i18n %}{% load url from future %}
<h2>{% trans "Preferences" %} <small>{% trans "Customize Modoboa" %}</small></h2>
<hr>
<form class="form-horizontal" method="POST" action="{% url 'modoboa.core.views.user.preferences' %}" 
      id="uprefs_form">{% csrf_token %}
  {% include "common/parameters.html" %}
  <hr>
  <button type="submit" class="btn btn-primary col-lg-offset-7 col-md-offset-8 col-sm-offset-7 col-lg-1 col-md-1 col-sm-2" id="update" name="update">{% trans 'Save' %}</button>
</form>
