node_modules
.idea
.vscode
.deps_check
.DS_Store
.nyc_output
npm-debug.log*
.eslintcache
*.iml
selenium-debug.log
test/e2e/db.json
docs/_book

flavors/**/dist/*

# Cypress
test/e2e-cypress/screenshots
test/e2e-cypress/videos

# Ignore files that we don't need for Modoboa
.agignore
.babelrc
.dockerignore
.editorconfig
.eslintrc
.gitattributes
.npmignore
.prettierrc.yaml
Dockerfile
composer.json
cypress.json
renovate.json
snapcraft.yaml
swagger-config.yaml
.github/
dev-helpers/
docker/
docs/
flavors/
release/
src/
swagger-ui-dist-package/
test/
webpack/
