<!DOCTYPE html>
{% load i18n core_tags static %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% trans "Welcome to Modoboa" %}</title>
    <link rel="icon" type="image/png" href="{% static 'css/logo-icon.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/offline.css' %}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="column left-column">
        <a href="#" class="logo">
          <img src="{% get_modoboa_logo %}" />
        </a>
        {% block sub_content %}{% endblock %}
      </div>
      <div class="column right-column">
        {% block main_content %}{% endblock %}
      </div>
    </div>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
