<!DOCTYPE html>
{% load i18n core_tags static %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% trans "Welcome to Modoboa" %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'css/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/offline.css' %}" />
    <style>
     .left-column {
       background-color: {{ theme_primary_color }};
       text-align: center;
     }
     .btn-primary {
       background-color: {{ theme_primary_color }};
       color: white;
     }
     .btn-primary:hover {
       background-color: {{ theme_primary_color_dark }};
     }
     .footer a {
       color: #{{ theme_primary_color }};
       text-decoration: none;
       font-size: 14px;
     }
    </style>
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="column left-column">
        <a href="#" class="logo">
          <img src="{% get_modoboa_logo %}" />
        </a>
        {% block sub_content %}{% endblock %}
      </div>
      <div class="column right-column">
        {% block main_content %}{% endblock %}
      </div>
    </div>
    {% block extra_js %}{% endblock %}
  </body>
</html>
