<!DOCTYPE html>{% load i18n core_tags lib_tags %}{% load url from future %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <title>{% trans "Welcome to Modoboa" %}</title>
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}css/logo-icon.png" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />  
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
    {% url "django.views.i18n.javascript_catalog" as catalog_url %}
    <script type="text/javascript" src="{{ catalog_url }}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#id_username').focus();
    });
    </script>
  </head>
  <body>
    <div class="container">
      <div id="box" class="col-lg-7 col-lg-offset-2">
      <div id="logo" class="row">
          <ul class="thumbnails">
              <li>
                  <div class="col-lg-offset-1 col-lg-10">
                      <a href="#" class="thumbnail">
                          <img src="{% get_modoboa_logo %}" />
                      </a>
                  </div>
              </li>
          </ul>
      </div>
      <div class=" divider"></div>
      <form method="post" action="{% url 'modoboa.core.views.auth.dologin' %}" class="login-form form-horizontal">
        {% csrf_token %}
        {% render_field form.username %}
        {% render_field form.password %}
        <input type="hidden" name="next" value="{{ next }}" />
        <div class=" divider"></div>
        <div class="form-group">
            <div class="checkbox">
              <label class="col-sm-offset-4 col-lg-5 col-md-5 col-sm-4 checkbox" for="id_rememberme">
                  <input type="checkbox" id="id_rememberme" name="rememberme" />{% trans "Remember me" %}
              </label>
            <div class="col-lg-3 col-md-2 col-sm-3">
                <button class="btn btn-primary pull-right" type="submit">{% trans "Log in" %}</button>
            </div>
            </div>
        </div>
      </form>
      <div class="login-error">
        {% if error %}{% alert error "error" %}{% endif %}
      </div>
      </div>
      {% for annoucement in annoucements %}
      <div class="offset3 span5 well">{{ annoucement|safe }}</div>
      {% endfor %}
     </body>
</html>
