{% extends "registration/base.html" %}

{% load i18n form_tags %}

{% block main_content %}
  <div class="login-box">
    {% if announcement %}
      <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-7">
          <div class="alert alert-warning text-center">
            {{ announcement }}
          </div>
        </div>
      </div>
    {% endif %}

    <h3 class="text-center">{% trans "Forgot password?" %}</h3>
    <form method="post" style="margin-top: 20px">
      {% csrf_token %}
      <div class="input-group">
        {% render_field form.email %}
      </div>
      <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    </form>
  </div>
{% endblock %}
