{% extends "registration/base.html" %}

{% load i18n form_tags %}

{% block main_content %}
  <div class="login-box">
    {% if validlink %}
      <h3 class="text-center">{% trans "Change password" %}</h3>
      <form method="post" style="margin-top: 20px">
        {% csrf_token %}
        <div class="input-group">
          {% render_field form.new_password1 %}
        </div>
        <div class="input-group">
          {% render_field form.new_password2 %}
        </div>
        <button class="btn" type="submit">{% trans "Submit" %}</button>
      </form>
    {% else %}
      <div class="alert alert-danger">
        {% blocktrans trimmed %}
          The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        {% endblocktrans %}
      </div>
    {% endif %}
  </div>
{% endblock %}
