{% extends "registration/base.html" %}

{% load i18n core_tags lib_tags form_tags static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block main_content %}
  <div class="row">
    <div class="col-sm-offset-4 col-sm-6">
  <form method="post" action="" class="login-form">
    <div class="form-group">
      <label class="control-label">Two-Factor authentication code</label>
      <input id="id_2fa_code" class="form-control">
      <p class="help-block">
        Enter the code from the two-factor app on your mobile
        device. If you've lost your device, you may enter one of your
        recovery codes.
      </p>
    </div>
    <button class="btn btn-primary col-sm-12" type="submit">Verify code</button>
  </form>
    </div>
  </div>
{% endblock %}
