{% extends "nlayout.html" %}
{% load i18n %}
{% block html_head %}
<style type="text/css">
td {
  font-size: 1em;
  height: 20px;
  padding-left: 5px;
}

td.left {
  background: #F7F9Fb;
}

#mailcontent {
  width: 100%;
  border: 0;
}
</style>

<script type="text/javascript">
window.addEvent("domready", function() {
  var spage = $("page").getSize();
  var stable = $("table-container").getSize();
  var slogo = $("header").getSize();
  var iheight = spage.y - stable.y - slogo.y;

  $("mailcontent").setStyle("height", iheight + "px");
  parse_menubar("menubar");

});
</script>

{% endblock %}
{% block middletitle %}{% trans "Mail content" %}{% endblock %}
{% block menu %}
  {% load amextras %}
  {% viewm_menu "" mail_id page_id perms %}
{% endblock %}
{% block content %}
<div id="table-container">
<table border="0">
  <tr>
    <th colspan="2">{% trans "Message" %}</th>
  </tr>
  <tr><td class="left">X-Amavis-Alert</td><td>{{ alert }}</td></tr>
  <tr><td class="left">From</td><td>{{ headers.from }}</td></tr>
  <tr><td class="left">To</td><td>{{ headers.to }}</td></tr>
  <tr><td class="left">Date</td><td>{{ headers.date }}</td></tr>
  <tr><td class="left">Subject</td><td>{{ headers.subject }}</td></tr>
</table>
</div>

{% url extensions.amavis_quarantine.main.getmailcontent mail_id as geturl %}
<iframe id="mailcontent" src="{{ geturl }}?mode={{ params.mode }}&links={{ params.links }}"></iframe>

{% endblock %}
